<section class="section">
  <div class="container justify-content-center">
    <div class="row align-items-center justify-content-center no-gutters min-vh-100">
      <div class="col-12 col-md-5 col-lg-4 py-8 py-md-11">
      <div class="connecter">
        <h2>Edit <%= resource_name.to_s.humanize %></h2>
      </div>
        <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
          <%= f.error_notification %>

          <div class="form-inputs">
            <% if @user.photo.attached? %>
              <%= cl_image_tag @user.photo.key, height: 300, width: 400, crop: :fill %>
            <% end %>
            <%= f.input :photo, as: :file %>
            <%= f.input :email, required: true, autofocus: true %>

            <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
              <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
            <% end %>
            <%= f.input :gender, label: 'Genre', collection: User::GENDER %>
            <%= f.input :password,
                        label: 'Mot de passe',
                        hint: "leave it blank if you don't want to change it",
                        required: false,
                        input_html: { autocomplete: "new-password" } %>
            <%= f.input :password_confirmation,
                        label: 'Confirme ton mot passe',
                        required: false,
                        input_html: { autocomplete: "new-password" } %>
            <%= f.input :current_password,
                        label: 'Mot de passe actuel',
                        hint: "we need your current password to confirm your changes",
                        required: true,
                        input_html: { autocomplete: "current-password" } %>
          </div>

          <div class="form-actions">
            <%= f.button :submit, "Go" %>
          </div>
        <% end %>
        <hr>
        <div class="connecter">
          <h3>Supprimer ton compte</h3>

          <p>Pas content? <%= link_to "Supprimer mon compte", registration_path(resource_name), data: { confirm: "Es tu sur ?" }, method: :delete %></p>

          <p> <%= link_to "Retour", :back %> </p>
        </div>
      </div>
    </div>
  </div>
</section>
