<div class="container-booking">

  <p>Tour - <%= @booking.tour.name%></p>
  <p><%= @booking.tour.name%></p>
  <p>Tour - <%= @booking.tour.name%></p>
  <p><%= @booking.tour.name%></p>
    <p>Tour - <%= @booking.tour.name%></p>
  <p><%= @booking.tour.name%></p>
</div>

