<div class="container mt-5">
  <h1>Bienvenue <%= current_user.first_name%>, voici vos prochains voyages !</h1>

  <% unless @bookings.empty? %>
    <h2>Tours reservés</h2>
    <ul class="card-wrap">
    <% @bookings.each do |booking| %>
      <li class="card">
        <%= link_to tour_path(booking.tour) do %>
          <%= cl_image_tag booking.tour.images[0].key %>
          <h5><%= booking.tour.name %></h5>
          <p><%= booking.tour.date %></p>
          <p>Durée - <%= booking.tour.duration %> minutes</p>
          <p>Langue - <%= booking.tour.language.capitalize %></p>
          <%= link_to "Rejoindre", tour_live_path(booking.tour), class: "btn btn-flat m-2" %>
          <%= link_to "Annuler la réservation", booking_path(booking) , method: :delete, class: "btn btn-flat m-2" %>
        <% end %>
      <% end %>
    </ul>
  <% end %>
</div>
