<div class="container mt-5">
  <div class="tab-container">
    <h2>Bienvenue <%= current_user.first_name%>, voici vos prochains voyages !</h2>
  </div>

  <% unless @bookings.empty? %>
    <% @bookings.each do |booking| %>
      <div class="card-product">
        <%= link_to tour_path(booking.tour) do %>
          <%= cl_image_tag booking.tour.images[0].key %>
        <% end %>
        <div class="card-product-infos-link">
          <div class="card-product-infos">
            <h2><%= booking.tour.name %></h2>
            <p><%= booking.tour.date %></p>
            <p>Durée - <%= booking.tour.duration %> minutes</p>
            <p>Langue - <%= booking.tour.language.capitalize %></p>
          </div>
          <div class="card-link">
            <%= link_to "Rejoindre par ordinateur", tour_live_path(booking.tour), class: "btn btn-flat m-1" %>
            <%= link_to "Rejoindre par téléphone", "https://travelive.daily.co/A10gZsu1NrLQxfd2wfgf", target: "_blank", class: "btn btn-flat m-1" %>
            <%= link_to "Annuler la réservation", booking_path(booking) , method: :delete, class: "btn btn-flat m-1" %>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
