
 <%= link_to tour_path(tour) do %>
  <div class="card-photo"> <%= cl_image_tag tour.images[0].key %> </div>
  <div id="triangle-popup"></div>

  <div class="card-click">
    <h5><%= tour.name %></h5>
    <div class="card-info">
      <p>
        <i class="far fa-calendar-alt"></i>
        <%= l(tour.date, format: :short) %></p>
      <p>
        <i class="fas fa-map-marked-alt"></i>
        <%= tour.country%></p>

      <p>
        <i class="far fa-clock text-center"></i>
        <%= tour.duration %> min</p>
      <p>
        <i class="fa fa-language" aria-hidden="true"></i>
        <%= tour.language.capitalize %></p>
    </div>
    <hr>
    <div class="card-inline">
      <% if tour.user.photo.attached? %>
            <%= cl_image_tag "#{tour.user.photo.key}", crop: :fill, class: "avatar-img" %>
      <% else %>
             <%= image_tag tour.user.gender == "Homme" ? "avatar_homme.jpg" : "avatar_femme.jpg", crop: :fill, class: "avatar" %>
      <% end %>

      <p><%= tour.price %> € /personne</p>
    </div>
  </div>
<% end %>

