<div class="min-vh-100">
  <div class="banner jarallax" data-jarallax data-speed=".8" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= cl_image_path @tour.images[0].key %>);">

  <h2><%= @tour.name %></h2>
  <p><%= @tour.city %></p>
  <p><%= @tour.country %></p>

  <% if @tour.user.photo.attached? %>
    <%= cl_image_tag "#{@tour.user.photo.key}", crop: :fill %>
  <% else %>
    <%= image_tag @tour.user.gender == "Homme" ? "avatar_homme.jpg" : "avatar_femme.jpg", crop: :fill %>
  <% end %>

  </div>
</div>

<!-- Daily.co -->
<script crossorigin src="https://unpkg.com/@daily-co/daily-js"></script>
<script>
  callFrame = window.DailyIframe.createFrame();
  callFrame.join({ url: '<%= @tour.live_url %>' })
</script>
