
<div class="">
  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= cl_image_path @tour.images[0].key %>);">

      <h2><%= @tour.name %></h2>
      <p><%= @tour.city %></p>
      <p><%= @tour.country %></p>

      <% if @tour.user.photo.attached? %>
            <%= cl_image_tag "#{@tour.user.photo.key}", crop: :fill %>
      <% else %>
             <%= image_tag @tour.user.gender == "Homme" ? "avatar_homme.jpg" : "avatar_femme.jpg", crop: :fill %>
      <% end %>
  <div id="triangle"></div>
  </div>
  <div class="tab-container">
    <ul class="list-inline tabs">
      <li>
        <p class="tab">Date</p>
        <p class="infos"><%= @tour.date.strftime("%d %B") %></p>
      </li>
      <li>
        <p class="tab">Heure</p>
        <p class="infos"><%= @tour.time.strftime("%I:%M %p") %></p>
      </li>
      <li>
        <p class="tab">Durée</p>
        <p class="infos"><%= @tour.duration %>min</p>
      </li>
      <li>
        <p class="tab">Langage</p>
        <p class="infos"><%= @tour.language %></p>
      </li>
      <li>
        <p class="tab">Capacité</p>
        <p class="infos"><%= @tour.capacity %>prs</p>
      </li>
    </ul>
    <div class="container">
      <p><%= @tour.description %></p>
      <p><%= @tour.price %></p>
      <p><%= @tour.category %></p>
      <div class="trio">
        <% @tour.images.each do |image| %>
          <%= cl_image_tag image.key %>
        <% end %>
      </div>
    </div>
  </div>

</div>

