<div class="">

   <!-- banner
  ================================================== -->

 <div class="banner jarallax" data-jarallax data-speed=".8" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= cl_image_path @tour.images[0].key %>);">

      <% if @tour.user.photo.attached? %>
            <%= cl_image_tag "#{@tour.user.photo.key}", crop: :fill %>
      <% else %>
             <%= image_tag @tour.user.gender == "homme" ? "avatar_homme.jpg" : "avatar_femme.jpg", crop: :fill %>
      <% end %>
      <h4> <%= @tour.user.first_name %> </h4>
      <h2><%= @tour.name %></h2>

      <% if @tour.country.upcase == "EGYPTE" %>
      <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
width="48" height="48"
viewBox="0 0 172 172"
style=" fill:#000000;"><g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><path d="M0,172v-172h172v172z" fill="none"></path><path d="M86,172c-47.49649,0 -86,-38.50351 -86,-86v0c0,-47.49649 38.50351,-86 86,-86v0c47.49649,0 86,38.50351 86,86v0c0,47.49649 -38.50351,86 -86,86z" fill="#cccccc"></path><g><path d="M86,0.71667c-36.58229,0 -67.69365,23.07767 -79.80814,55.43417h159.61202c-12.11023,-32.3565 -43.22159,-55.43417 -79.80388,-55.43417z" fill="#ff3d00"></path><path d="M165.80814,115.84917h-159.61629c12.1145,32.3565 43.22586,55.43417 79.80814,55.43417c36.58229,0 67.69365,-23.07767 79.80814,-55.43417z" fill="#424242"></path><path d="M171.28333,86c0,-10.5197 -1.99563,-20.54475 -5.47519,-29.84917h-159.61629c-3.47956,9.30441 -5.47519,19.32947 -5.47519,29.84917c0,10.5197 1.99563,20.54475 5.47519,29.84917h159.61202c3.48382,-9.30441 5.47945,-19.32947 5.47945,-29.84917z" fill="#eceff1"></path><g fill="#ffb300"><path d="M107.32083,101.99063c0,2.95507 -2.37514,5.33021 -5.33021,5.33021l-15.99062,-10.66042l-15.99063,10.66042c-2.95507,0 -5.33021,-2.37514 -5.33021,-5.33021v-23.40175c0,-2.95507 2.37514,-5.33021 5.33021,-5.33021h31.98125c2.95507,0 5.33021,2.37514 5.33021,5.33021z"></path><path d="M80.66979,107.32083h10.66042l-5.33021,-10.66042z"></path><path d="M86,81.73583v0c-2.35382,0 -4.26417,-1.91035 -4.26417,-4.26417v-8.52833c0,-2.35382 1.91035,-4.26417 4.26417,-4.26417v0c2.35382,0 4.26417,1.91035 4.26417,4.26417v8.52833c0,2.35382 -1.91035,4.26417 -4.26417,4.26417z"></path></g></g></g></svg>
      <% else %>
      <% end %>
      <% if @tour.country.upcase == "USA" %>
      <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
          width="48" height="48"
          viewBox="0 0 172 172"
          style=" fill:#000000;"><g transform=""><g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><path d="M0,172v-172h172v172z" fill="none"></path><path d="M86,172c-47.49649,0 -86,-38.50351 -86,-86v0c0,-47.49649 38.50351,-86 86,-86v0c47.49649,0 86,38.50351 86,86v0c0,47.49649 -38.50351,86 -86,86z" fill="#cccccc"></path><g><path d="M111.585,4.98083v-0.34966c-8.07633,-2.53718 -16.66863,-3.91451 -25.585,-3.91451c-47.10199,0 -85.28333,38.18135 -85.28333,85.28333c0,2.87831 0.15351,5.72251 0.43068,8.52833h110.43765z" fill="#3f51b5"></path><path d="M112.53591,4.98083c-0.32408,-0.1066 -0.62683,-0.24732 -0.95091,-0.34966v0.34966z" fill="none"></path><path d="M111.585,30.56583h39.14505c-4.08081,-4.75881 -8.69037,-9.02724 -13.71782,-12.7925h-25.42723z" fill="#eceff1"></path><path d="M170.85265,94.52833h-59.26765h-110.43765c0.43495,4.38356 1.29204,8.63067 2.36661,12.7925h164.97634c1.07031,-4.16183 1.9274,-8.40894 2.36235,-12.7925z" fill="#eceff1"></path><path d="M146.85392,145.69833h-121.70785c4.80572,4.89953 10.22547,9.16369 16.0887,12.7925h89.53044c5.86323,-3.62881 11.28298,-7.89297 16.0887,-12.7925z" fill="#eceff1"></path><path d="M164.14085,120.11333h-156.28171c1.95725,4.47737 4.28549,8.75433 6.95059,12.7925h142.38053c2.6651,-4.03817 4.98908,-8.31513 6.95059,-12.7925z" fill="#eceff1"></path><path d="M111.585,56.15083h54.22314c-1.66729,-4.45179 -3.67145,-8.72875 -6.02527,-12.7925h-48.19788z" fill="#eceff1"></path><path d="M111.585,81.73583h59.48513c-0.21747,-4.34945 -0.65242,-8.6392 -1.49672,-12.7925h-57.9884z" fill="#eceff1"></path><path d="M111.585,17.77333h25.43149c-7.34716,-5.50077 -15.56847,-9.87581 -24.48058,-12.7925h-0.95091z" fill="#f44336"></path><path d="M111.585,43.35833h48.19788c-2.63099,-4.5456 -5.65429,-8.82683 -9.04856,-12.7925h-39.14931z" fill="#f44336"></path><path d="M111.585,68.94333h57.98414c-0.89547,-4.40915 -2.21737,-8.65626 -3.76526,-12.7925h-54.21888z" fill="#f44336"></path><path d="M111.585,94.52833h59.26765c0.27717,-2.80582 0.43068,-5.65002 0.43068,-8.52833c0,-1.44129 -0.14498,-2.8442 -0.21321,-4.26417h-59.48513z" fill="#f44336"></path><path d="M168.48604,107.32083h-164.97208c1.13427,4.40488 2.55424,8.69464 4.34945,12.7925h156.27744c1.79095,-4.09786 3.21092,-8.38762 4.34519,-12.7925z" fill="#f44336"></path><path d="M157.19026,132.90583h-142.38053c3.03182,4.59677 6.49433,8.87799 10.33634,12.7925h121.71211c3.83775,-3.91451 7.30025,-8.19573 10.33208,-12.7925z" fill="#f44336"></path><path d="M41.23478,158.49083c13.02277,8.05928 28.3226,12.7925 44.76522,12.7925c16.44263,0 31.74246,-4.73323 44.76522,-12.7925z" fill="#f44336"></path><path d="M27.36771,39.09417l1.98284,4.213l4.41341,0.66521l-3.19812,3.28341l0.76755,4.63088l-3.96567,-2.18325l-3.96568,2.18325l0.76755,-4.63088l-3.19813,-3.28341l4.41341,-0.66521z" fill="#ffffff"></path><path d="M44.42437,39.09417l1.98284,4.213l4.41341,0.66521l-3.19813,3.28341l0.76755,4.63088l-3.96568,-2.18325l-3.96567,2.18325l0.76755,-4.63088l-3.19813,-3.28341l4.41341,-0.66521z" fill="#ffffff"></path><path d="M10.31104,49.70341l3.96567,2.18325l-0.76755,-4.63088l3.19813,-3.28341l-4.41341,-0.66521l-0.01706,-0.04264c-1.40717,2.42205 -2.69922,4.91658 -3.8676,7.48361z" fill="#ffffff"></path><path d="M61.48104,39.09417l1.98284,4.213l4.41341,0.66521l-3.19813,3.28341l0.76755,4.63088l-3.96568,-2.18325l-3.96568,2.18325l0.76755,-4.63088l-3.19813,-3.28341l4.41341,-0.66521z" fill="#ffffff"></path><path d="M78.53771,39.09417l1.98284,4.213l4.41341,0.66521l-3.19813,3.28341l0.76755,4.63088l-3.96567,-2.18325l-3.96568,2.18325l0.76755,-4.63088l-3.19813,-3.28341l4.41341,-0.66521z" fill="#ffffff"></path><path d="M94.52833,39.09417l1.98284,4.213l4.41341,0.66521l-3.19813,3.28341l0.76755,4.63088l-3.96567,-2.18325l-3.96567,2.18325l0.76755,-4.63088l-3.19812,-3.28341l4.41341,-0.66521z" fill="#ffffff"></path><path d="M27.36771,73.2075l1.98284,4.213l4.41341,0.66521l-3.19812,3.28341l0.76755,4.63088l-3.96567,-2.18325l-3.96568,2.18325l0.76755,-4.63088l-3.19813,-3.28341l4.41341,-0.66521z" fill="#ffffff"></path><path d="M44.42437,73.2075l1.98284,4.213l4.41341,0.66521l-3.19813,3.28341l0.76755,4.63088l-3.96568,-2.18325l-3.96567,2.18325l0.76755,-4.63088l-3.19813,-3.28341l4.41341,-0.66521z" fill="#ffffff"></path><path d="M61.48104,73.2075l1.98284,4.213l4.41341,0.66521l-3.19813,3.28341l0.76755,4.63088l-3.96568,-2.18325l-3.96568,2.18325l0.76755,-4.63088l-3.19813,-3.28341l4.41341,-0.66521z" fill="#ffffff"></path><path d="M10.31104,73.2075l1.98284,4.213l4.41341,0.66521l-3.19813,3.28341l0.76755,4.63088l-3.96567,-2.18325l-3.96568,2.18325l0.76755,-4.63088l-3.19813,-3.28341l4.41341,-0.66521z" fill="#ffffff"></path><path d="M78.53771,73.2075l1.98284,4.213l4.41341,0.66521l-3.19813,3.28341l0.76755,4.63088l-3.96567,-2.18325l-3.96568,2.18325l0.76755,-4.63088l-3.19813,-3.28341l4.41341,-0.66521z" fill="#ffffff"></path><path d="M94.52833,73.2075l1.98284,4.213l4.41341,0.66521l-3.19813,3.28341l0.76755,4.63089l-3.96567,-2.18325l-3.96567,2.18325l0.76755,-4.63088l-3.19812,-3.28341l4.41341,-0.66521z" fill="#ffffff"></path><path d="M31.63187,56.15083l1.98284,4.213l4.41341,0.66521l-3.19812,3.28341l0.76755,4.63088l-3.96568,-2.18325l-3.96567,2.18325l0.76755,-4.63088l-3.19812,-3.28341l4.41341,-0.66521z" fill="#ffffff"></path><path d="M48.68854,56.15083l1.98284,4.213l4.41341,0.66521l-3.19813,3.28341l0.76755,4.63088l-3.96567,-2.18325l-3.96567,2.18325l0.76755,-4.63088l-3.19812,-3.28341l4.41341,-0.66521z" fill="#ffffff"></path><path d="M14.57521,56.15083l1.98284,4.213l4.41341,0.66521l-3.19813,3.28341l0.76755,4.63088l-3.96567,-2.18325l-3.96568,2.18325l0.76755,-4.63088l-3.19813,-3.28341l4.41341,-0.66521z" fill="#ffffff"></path><path d="M65.74521,56.15083l1.98284,4.213l4.41341,0.66521l-3.19813,3.28341l0.76755,4.63088l-3.96567,-2.18325l-3.96568,2.18325l0.76755,-4.63088l-3.19813,-3.28341l4.41341,-0.66521z" fill="#ffffff"></path><path d="M82.80188,56.15083l1.98284,4.213l4.41341,0.66521l-3.19812,3.28341l0.76755,4.63088l-3.96567,-2.18325l-3.96567,2.18325l0.76755,-4.63088l-3.19812,-3.28341l4.41341,-0.66521z" fill="#ffffff"></path><path d="M98.7925,56.15083l1.98284,4.213l4.41341,0.66521l-3.19813,3.28341l0.76755,4.63089l-3.96567,-2.18325l-3.96568,2.18325l0.76755,-4.63088l-3.19813,-3.28341l4.41341,-0.66521z" fill="#ffffff"></path><path d="M31.63187,22.0375l1.98284,4.213l4.41341,0.66521l-3.19812,3.28341l0.76755,4.63089l-3.96568,-2.18325l-3.96567,2.18325l0.76755,-4.63089l-3.19812,-3.28341l4.41341,-0.66521z" fill="#ffffff"></path><path d="M48.68854,22.0375l1.98284,4.213l4.41341,0.66521l-3.19813,3.28341l0.76755,4.63089l-3.96567,-2.18325l-3.96567,2.18325l0.76755,-4.63089l-3.19812,-3.28341l4.41341,-0.66521z" fill="#ffffff"></path><path d="M65.74521,22.0375l1.98284,4.213l4.41341,0.66521l-3.19813,3.28341l0.76755,4.63089l-3.96567,-2.18325l-3.96568,2.18325l0.76755,-4.63089l-3.19813,-3.28341l4.41341,-0.66521z" fill="#ffffff"></path><path d="M82.80188,22.0375l1.98284,4.213l4.41341,0.66521l-3.19812,3.28341l0.76755,4.63089l-3.96567,-2.18325l-3.96567,2.18325l0.76755,-4.63089l-3.19812,-3.28341l4.41341,-0.66521z" fill="#ffffff"></path><path d="M98.7925,22.0375l1.98284,4.213l4.41341,0.66521l-3.19813,3.28341l0.76755,4.63089l-3.96567,-2.18325l-3.96568,2.18325l0.76755,-4.63089l-3.19813,-3.28341l4.41341,-0.66521z" fill="#ffffff"></path><path d="M48.39005,17.77333l-0.76755,-4.63088l3.19813,-3.28341l-2.34956,-0.35393c-2.51159,1.23234 -4.94643,2.58408 -7.31305,4.05096l-0.69932,4.21726l3.96567,-2.18325z" fill="#ffffff"></path><path d="M61.48104,4.98083l1.98284,4.213l4.41341,0.66521l-3.19813,3.28341l0.76755,4.63088l-3.96568,-2.18325l-3.96568,2.18325l0.76755,-4.63088l-3.19813,-3.28341l4.41341,-0.66521z" fill="#ffffff"></path><path d="M78.53771,4.98083l1.98284,4.213l4.41341,0.66521l-3.19813,3.28341l0.76755,4.63088l-3.96567,-2.18325l-3.96568,2.18325l0.76755,-4.63088l-3.19813,-3.28341l4.41341,-0.66521z" fill="#ffffff"></path><path d="M94.52833,4.98083l1.98284,4.213l4.41341,0.66947l-3.19813,3.28341l0.76755,4.62662l-3.96567,-2.18325l-3.96567,2.18325l0.76755,-4.63088l-3.19812,-3.28341l4.41341,-0.66521z" fill="#ffffff"></path></g></g></g></svg>
      <% else %>
      <% end %>
      <% if @tour.country.upcase == "AFRIQUE DU SUD" %>
      <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
          width="48" height="48"
          viewBox="0 0 172 172"
          style=" fill:#000000;"><g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><path d="M0,172v-172h172v172z" fill="none"></path><path d="M86,172c-47.49649,0 -86,-38.50351 -86,-86v0c0,-47.49649 38.50351,-86 86,-86v0c47.49649,0 86,38.50351 86,86v0c0,47.49649 -38.50351,86 -86,86z" fill="#cccccc"></path><g><path d="M165.80814,56.15083c-12.1145,-32.3565 -43.22586,-55.43417 -79.80814,-55.43417c-14.76681,0 -28.6552,3.75673 -40.76543,10.36192l60.10343,45.07224z" fill="#e53935"></path><path d="M105.338,115.84917l-60.10343,45.07224c12.11023,6.60519 25.99862,10.36192 40.76543,10.36192c36.58229,0 67.69365,-23.07767 79.80814,-55.43417z" fill="#283593"></path><path d="M169.56914,68.94333c-0.89547,-4.40915 -2.21737,-8.65626 -3.76526,-12.7925h-60.46588l-60.10343,-45.07224c-3.7013,2.01695 -7.18086,4.37504 -10.52396,6.89942l68.34606,50.96532z" fill="#ffffff"></path><path d="M165.80814,115.84917c1.54789,-4.13624 2.86978,-8.38335 3.76526,-12.7925h-66.51674l-68.35033,50.96106c3.34311,2.52439 6.82267,4.88247 10.52396,6.89942l60.10769,-45.06798z" fill="#ffffff"></path><path d="M169.56914,103.05667c1.12148,-5.51357 1.7142,-11.21476 1.7142,-17.05667c0,-5.84191 -0.59272,-11.5431 -1.7142,-17.05667h-66.51247l-68.35033,-50.96106c-9.65407,7.29173 -17.76025,16.51938 -23.5979,27.20112l54.42356,40.8166l-54.42356,40.8166c5.83338,10.68174 13.94383,19.90939 23.5979,27.20112l68.35033,-50.96106z" fill="#2e7d32"></path><path d="M11.10844,45.1834c-1.94872,3.56484 -3.56484,7.32584 -4.99334,11.17638l39.52456,29.64022l-39.52456,29.64022c1.4285,3.85054 3.04462,7.61154 4.99334,11.17638l54.42356,-40.8166z" fill="#ffc107"></path><path d="M6.1151,56.35978c-3.43265,9.24471 -5.39844,19.20154 -5.39844,29.64022c0,10.43868 1.96578,20.39551 5.39844,29.64022l39.52456,-29.64022z" fill="#263238"></path></g><path d="" fill="none"></path></g></svg>
      <% else %>
      <% end %>
      <% if @tour.country.upcase == "PEROU" %>
      <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
            width="48" height="48"
            viewBox="0 0 172 172"
            style=" fill:#000000;"><g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><path d="M0,172v-172h172v172z" fill="none"></path><path d="M86,172c-47.49649,0 -86,-38.50351 -86,-86v0c0,-47.49649 38.50351,-86 86,-86v0c47.49649,0 86,38.50351 86,86v0c0,47.49649 -38.50351,86 -86,86z" fill="#cccccc"></path><g><path d="M120.11333,7.85915c-10.45147,-4.56692 -21.97751,-7.14248 -34.11333,-7.14248c-12.13582,0 -23.66186,2.57556 -34.11333,7.14248v156.27744c10.45147,4.57119 21.97752,7.14674 34.11333,7.14674c12.13582,0 23.66186,-2.57556 34.11333,-7.14248z" fill="#eceff1"></path><path d="M171.28333,86c0,-34.9619 -21.06072,-64.97311 -51.17,-78.14085v156.27744c30.10928,-13.16348 51.17,-43.17469 51.17,-78.13659z" fill="#ff3d00"></path><path d="M0.71667,86c0,34.9619 21.06072,64.97311 51.17,78.14085v-156.28171c-30.10928,13.16775 -51.17,43.17895 -51.17,78.14085z" fill="#ff3d00"></path></g></g></svg>
      <% else %>
      <% end %>
      <% if @tour.country.upcase == "ESPAGNE" %>
      <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
            width="48" height="48"
            viewBox="0 0 172 172"
            style=" fill:#000000;"><g transform=""><g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><path d="M0,172v-172h172v172z" fill="none"></path><path d="M86,172c-47.49649,0 -86,-38.50351 -86,-86v0c0,-47.49649 38.50351,-86 86,-86h0c47.49649,0 86,38.50351 86,86v0c0,47.49649 -38.50351,86 -86,86z" fill="#cccccc"></path><path d="" fill="none"></path><path d="" fill="none"></path><path d="" fill="none"></path><path d="" fill="none"></path><path d="" fill="none"></path><g><path d="M86,0.71667c-31.5463,0 -59.02886,17.17606 -73.78288,42.64167h147.56149c-14.74975,-25.4656 -42.23231,-42.64167 -73.77861,-42.64167z" fill="#dd2c00"></path><path d="M159.77861,128.64167h-147.55722c14.75402,25.4656 42.23231,42.64167 73.77861,42.64167c31.5463,0 59.02886,-17.17606 73.77861,-42.64167z" fill="#dd2c00"></path><path d="M171.28333,86c0,-15.55142 -4.23005,-30.08796 -11.50046,-42.64167h-147.56575c-7.2704,12.55371 -11.50046,27.09025 -11.50046,42.64167c0,15.55142 4.23005,30.08796 11.50472,42.64167h147.56149c7.2704,-12.55371 11.50046,-27.09025 11.50046,-42.64167z" fill="#ffc107"></path></g><path d="" fill="none"></path></g></g></svg>
      <% else %>
      <% end %>
      <% if @tour.country.upcase == "FRANCE" %>
      <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
          width="48" height="48"
          viewBox="0 0 172 172"
          style=" fill:#000000;"><g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><path d="M0,172v-172h172v172z" fill="none"></path><path d="M86,172c-47.49649,0 -86,-38.50351 -86,-86v0c0,-47.49649 38.50351,-86 86,-86v0c47.49649,0 86,38.50351 86,86v0c0,47.49649 -38.50351,86 -86,86z" fill="#cccccc"></path><g><path d="M120.11333,7.85915c-10.45147,-4.56692 -21.97751,-7.14248 -34.11333,-7.14248c-12.13582,0 -23.66186,2.57556 -34.11333,7.14248v156.27744c10.45147,4.57119 21.97752,7.14674 34.11333,7.14674c12.13582,0 23.66186,-2.57556 34.11333,-7.14248z" fill="#eceff1"></path><path d="M171.28333,86c0,-34.9619 -21.06072,-64.97311 -51.17,-78.14085v156.27744c30.10928,-13.16348 51.17,-43.17469 51.17,-78.13659z" fill="#ff3d00"></path><path d="M0.71667,86c0,34.9619 21.06072,64.97311 51.17,78.14085v-156.28171c-30.10928,13.16775 -51.17,43.17895 -51.17,78.14085z" fill="#3f51b5"></path></g></g></svg>
      <% else %>
      <% end %>
        <% if @tour.country.upcase == "JAPON" %>
      <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
            width="48" height="48"
            viewBox="0 0 172 172"
            style=" fill:#000000;"><g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><path d="M0,172v-172h172v172z" fill="none"></path><path d="M86,172c-47.49649,0 -86,-38.50351 -86,-86v0c0,-47.49649 38.50351,-86 86,-86v0c47.49649,0 86,38.50351 86,86v0c0,47.49649 -38.50351,86 -86,86z" fill="#cccccc"></path><g><circle cx="20.16807" cy="20.16807" transform="scale(4.26417,4.26417)" r="20" fill="#eceff1"></circle><path d="M124.3775,86c0,21.18864 -17.18886,38.3775 -38.3775,38.3775c-21.18864,0 -38.3775,-17.18886 -38.3775,-38.3775c0,-21.18864 17.18886,-38.3775 38.3775,-38.3775c21.18864,0 38.3775,17.18886 38.3775,38.3775z" fill="#d50000"></path></g></g></svg>
      <% else %>
      <% end %>
       <% if @tour.country.upcase == "ARGENTINE" %>
      <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
          width="48" height="48"
          viewBox="0 0 172 172"
          style=" fill:#000000;"><g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><path d="M0,172v-172h172v172z" fill="none"></path><path d="M86,172c-47.49649,0 -86,-38.50351 -86,-86v0c0,-47.49649 38.50351,-86 86,-86v0c47.49649,0 86,38.50351 86,86v0c0,47.49649 -38.50351,86 -86,86z" fill="#cccccc"></path><g><path d="M86,1.43333c-36.27487,0 -67.12479,22.88374 -79.13749,54.96833h158.27075c-12.00847,-32.08459 -42.85839,-54.96833 -79.13326,-54.96833z" fill="#64b5f6"></path><path d="M165.13749,115.59833h-158.27497c12.0127,32.08459 42.86262,54.96833 79.13749,54.96833c36.27487,0 67.12479,-22.88374 79.13749,-54.96833z" fill="#64b5f6"></path><path d="M170.56667,86c0,-10.4313 -1.97886,-20.37211 -5.42918,-29.59833h-158.27497c-3.45032,9.22622 -5.42918,19.16704 -5.42918,29.59833c0,10.4313 1.97886,20.37211 5.42918,29.59833h158.27075c3.45455,-9.22622 5.43341,-19.16704 5.43341,-29.59833z" fill="#f5f5f5"></path><path d="M84.89218,86.5666l8.88796,18.90488c0,0 0,0.5666 0.5666,0v-0.5666l-7.23468,-19.46725M86.5666,92.67231c0,2.78224 1.65328,4.45243 1.65328,7.23468c0,2.78224 1.12896,3.89007 1.67442,4.99789c0.5666,1.12896 -0.54123,1.67442 0,1.67442c0.5666,0 1.10782,-0.54123 0.5666,-2.21565c0,-1.67442 -1.10782,-1.67442 -1.10782,-5.01903c0,-3.32347 -1.12897,-3.89007 -1.12897,-6.67231" fill="#ffc107"></path><path d="M89.89007,107.14167c0,0 -0.54546,0 0,0c-0.54123,0 -0.54123,-0.5666 0,-0.5666c0,-0.54123 0,-0.54123 0,-1.10782c0,0 0,-0.5666 -0.54123,-1.10782c-0.5666,-1.10782 -1.12897,-2.23679 -1.12897,-4.45244c0,-1.10782 0,-2.21565 -0.54123,-3.34461c-0.5666,-1.10782 -0.5666,-2.21565 -0.5666,-3.89007h0.5666c0,1.67442 0.54123,2.78224 0.54123,3.34461c0.5666,1.10782 0.5666,2.21565 0.5666,3.32347c0,1.67442 0.5666,3.34461 1.10782,3.91121c0,0.54123 0.5666,0.54123 0.5666,1.10782c-0.57082,1.10782 -0.57082,1.67442 -0.57082,2.78224c0,-0.5666 0,-0.5666 0,0c0,-0.5666 0,-0.5666 0,0c0.5666,-0.5666 0.5666,-1.10782 0.5666,-2.23679c0,-0.54123 0,-0.54123 -0.5666,-1.10782c-0.54123,-0.54123 -0.54123,-1.67442 -0.54123,-3.89007c0,-1.67442 0,-2.21565 -0.5666,-3.34461c0,-0.54123 -0.5666,-1.65328 -0.5666,-2.78224l-3.32347,-7.21354h0.54123l2.78224,6.67231h0.5666v0.54123l5.56449,11.69134l-7.23891,-19.47148h0.5666l7.23468,19.46725v0.5666c0,0 -0.5666,0 -0.5666,-0.5666l-4.99789,-11.12475c0,0.5666 0,1.10782 0.54123,1.67442c0.5666,1.10782 0.5666,1.67442 0.5666,3.32347c0,2.23679 0,2.78224 0.54123,3.91121c0,0.54123 0.5666,0.54123 0.5666,1.10782c-1.10782,1.10782 -1.10782,2.21565 -1.67019,2.78224c0,-0.5666 0,0 0,0z" fill="#bf360c"></path><path d="M84.89218,86l0.54123,20.57507v0.5666v-0.5666l0.5666,-20.57507M83.78435,92.67231c-1.12896,2.78224 0,5.01903 -1.12896,7.23468c-1.10782,2.21565 -0.54123,3.89007 -0.54123,4.99789c0,1.12896 -1.10782,1.12896 -0.5666,1.67442c0.5666,0.5666 1.10782,0 1.67442,-1.67442c0.5666,-1.65328 -0.5666,-2.21565 1.10782,-4.99789c1.67442,-2.78224 0.5666,-3.89007 1.67442,-6.67231" fill="#ffc107"></path><path d="M86,107.14167c-0.5666,0 -0.5666,-0.5666 -0.5666,-0.5666l-0.54123,-11.6702c0,0.54123 0,1.10782 0,1.65328c0,1.12896 0,2.23679 -1.10782,3.34461c-1.12896,1.67442 -1.12896,2.78224 -0.5666,3.34461c0,0.54123 0,1.10782 0,1.10782c0,1.10782 -1.10782,1.67442 -1.10782,1.67442h-0.5666v-0.5666c0,0 0.5666,-0.5666 0.5666,-1.10782c0,0 0,-0.5666 0,-1.10782c0,-1.12897 -0.5666,-2.78224 0.54123,-4.45244c0.5666,-1.10782 0.5666,-2.23679 0.5666,-3.34461c0,-1.10782 0,-2.21565 0.5666,-3.89007h0.54123c-0.54123,1.10782 -0.54123,2.21565 -0.54123,3.34461c0,1.10782 0,2.21565 -0.5666,3.32347c-1.10782,1.67442 -0.5666,3.34461 -0.5666,3.89007c0,0.5666 0,0.5666 0,1.12897c0,0.54123 -0.54123,1.10782 -0.54123,1.10782c0,0 0.54123,-0.5666 1.10782,-1.67442c0,-0.5666 0,-0.5666 0,-1.10782c0,-1.10782 0,-1.67442 1.10782,-3.89007c0.5666,-1.12897 0.5666,-2.23679 1.10782,-3.34461c0,-0.5666 0,-1.67442 0.5666,-2.78224l-1.10782,-5.55603h0.54123v7.23468h0.5666c0,0 0,0.54123 -0.5666,0.54123l0.5666,12.79916v0.5666c0,-0.5666 0,-0.5666 0,-0.5666l0.5666,-20.57507h0.54123l-1.10782,21.14167c0.5666,0 0.5666,0 0,0z" fill="#bf360c"></path><path d="M84.89218,85.4334l-7.23468,19.46725v0.5666h0.5666l8.88796,-18.90488M81.54757,91.56449c-2.21565,1.67442 -2.21565,4.45243 -3.89007,6.12686c-1.67442,1.65328 -2.21565,3.89007 -2.21565,4.43129c0,0.5666 -1.12897,1.12896 -1.12897,1.12896c0,0.54123 1.12897,0 2.23679,-1.12896c1.10782,-1.10782 0.54123,-2.21565 2.78224,-4.43129c2.21565,-2.23679 1.67442,-3.91121 3.89007,-5.56449" fill="#ffc107"></path><path d="M78.21987,105.46725c0,0 -0.56237,0 0,0c-0.5666,0 -0.5666,-0.5666 -0.5666,-0.5666l3.89007,-11.12474c-0.54123,0.5666 -0.54123,1.12896 -1.10782,1.67442c-0.5666,1.10782 -1.10782,1.67442 -2.21565,2.78224c-1.67442,1.10782 -1.67442,2.23679 -2.23679,2.78224c0,0.5666 -0.54123,0.5666 -0.54123,1.10782c-0.5666,0.5666 -1.12897,1.12896 -1.67442,1.12896h-0.5666c0,0 0,-0.5666 0.5666,-0.5666c0,0 0.54123,-0.5666 1.10782,-0.5666c0,0 0,-0.54123 0.5666,-1.10782c0.54123,-1.10782 0.54123,-2.21565 2.21565,-3.89007c1.10782,-0.5666 1.67442,-1.67442 1.67442,-2.78224c0.54123,-1.10782 1.10782,-2.21565 2.21565,-3.34461c-1.10782,1.12896 -1.67442,2.23679 -2.21565,2.78224c-0.5666,1.12896 -1.10782,2.23679 -2.23679,2.78224c-1.65328,1.12896 -1.65328,2.78224 -2.21565,3.34461c0,0.5666 0,0.5666 -0.5666,1.10782c0.5666,1.67442 0,1.67442 0,2.23679c0.5666,0 1.12897,0 1.67442,-1.12897c0.5666,-0.54123 0.5666,-0.54123 0.5666,-1.10782c0.54123,-0.54123 0.54123,-1.67442 2.21565,-3.32347c1.10782,-1.12896 1.67442,-1.67442 2.23679,-2.78224c0.54123,-0.5666 0.54123,-1.67442 1.65328,-2.23679l2.78224,-7.23468h0.55814l-2.78224,6.69345c0,0 -0.5666,0 -0.5666,0.54123l-4.43129,12.23257c0,0.00423 -0.56237,0.5666 0,0.5666l8.88796,-19.46725h0.5666z" fill="#bf360c"></path><path d="M85.4334,85.4334l-13.90699,15.03595v0.54123h0.5666l15.01481,-13.90699M79.87315,89.34461c-2.78224,1.10782 -3.32347,3.32347 -6.10571,3.89007c-2.23679,0.54123 -3.34461,2.78224 -3.89007,3.32347c-0.5666,0.5666 -1.67442,0.5666 -1.67442,0.5666c0,0 1.10782,0.5666 2.21565,0c1.10782,-0.5666 1.10782,-1.67442 4.45243,-2.78224c2.78224,-1.10782 3.34461,-2.78224 6.12686,-3.34461" fill="#ffc107"></path><path d="M70.98519,101.01481c-0.5666,-0.54123 -0.5666,-0.54123 0,-0.54123l8.3425,-8.9091c-0.5666,0.5666 -1.10782,0.5666 -1.10782,1.10782c-0.5666,0.5666 -1.67442,1.10782 -2.78224,1.67442c-1.67442,0.5666 -2.78224,1.10782 -3.34461,1.67442c-0.5666,0.54123 -0.5666,0.54123 -1.10782,1.10782c-1.10782,0.5666 -1.67442,0.5666 -2.23679,0.5666c0,0 0,0 0,-0.5666c0,-0.5666 0.5666,-0.5666 0.5666,-0.5666c0.5666,0 0.5666,0 1.10782,-0.54123l0.5666,-0.5666c0.54123,-1.10782 1.67442,-2.21565 3.32347,-2.78224c1.12897,-0.54123 2.23679,-1.10782 2.78224,-1.67442c1.12896,-0.54123 1.67442,-1.65328 3.34461,-2.21565v0.5666c-1.10782,0.54123 -2.21565,1.10782 -2.78224,2.21565c-1.10782,0.5666 -1.67442,1.67442 -2.78224,2.21565c-1.67442,0.5666 -2.78224,1.67442 -3.34461,2.78224c0,0.5666 -0.54123,0.5666 -0.54123,0.5666c-1.67442,0 -2.23679,0 -2.23679,0c0,0 1.12897,0 1.67442,-0.5666c0.5666,0 0.5666,-0.54123 1.10782,-1.10782c0.5666,-0.54123 1.12897,-1.10782 3.34461,-2.21565c1.67442,-0.5666 2.21565,-1.10782 2.78224,-1.67442c0.5666,-0.5666 1.10782,-1.10782 2.21565,-1.67442l5.56449,-5.56449l-4.99789,5.56449v0.5666h-0.5666l-8.88796,9.45032c-0.00423,0.56237 -0.00423,1.10782 -0.00423,1.10782c0.54545,0 0.54545,0 0,0l15.57718,-14.44821l-15.57718,14.44821c0.54545,0 0.54545,0 0,0z" fill="#bf360c"></path><path d="M87.10782,93.23468c0,2.78224 1.67442,3.89007 1.67442,6.67231c0.56237,-2.21565 -1.10782,-3.34884 -1.67442,-6.67231M85.4334,86l6.12685,12.79917l-4.99366,-12.79917" fill="#bf360c"></path><path d="M84.32558,93.23468c-1.10782,2.78224 0,4.45243 -1.10782,6.67231c1.10782,-1.67442 0.5666,-3.89007 1.10782,-6.67231M85.4334,86l0.5666,14.46936l0.5666,-14.46936" fill="#bf360c"></path><path d="M81.54757,92.12686c-1.67442,2.21565 -1.67442,3.89007 -3.32347,5.56449c1.64905,-1.13319 1.64905,-3.34884 3.32347,-5.56449M85.4334,86l-4.99789,13.34039l6.12685,-12.77802" fill="#bf360c"></path><path d="M79.87315,89.89007c-2.21565,1.10782 -2.78224,3.34461 -5.56449,3.89007c2.24102,0 2.78224,-2.21565 5.56449,-3.89007M85.4334,85.4334l-9.45033,10.58352l10.58352,-9.45032" fill="#bf360c"></path><path d="M85.4334,84.89218l-18.90488,8.88796c0,0 -0.5666,0 0,0.5666h0.5666l19.46725,-7.23468M79.32769,86.5666c-2.78224,0 -4.45243,1.65328 -7.23468,1.65328c-2.78224,0 -3.89007,1.12896 -4.99789,1.67442c-1.12897,0.5666 -1.67442,-0.54123 -1.67442,0c0,0.5666 0.54123,1.10782 2.21565,0.5666c1.67442,0 1.67442,-1.10782 5.01903,-1.10782c3.32347,0 3.89007,-1.12897 6.67231,-1.12897" fill="#ffc107"></path><path d="M66.53275,94.3425c-0.5666,-0.5666 -0.5666,-0.5666 0,-1.10782l11.12475,-5.01903c-0.5666,0 -1.10782,0 -1.67442,0.5666c-1.10782,0.5666 -1.67442,0.5666 -3.32347,0.5666c-2.23679,0 -2.78224,0 -3.91121,0.54123c-0.54123,0 -0.54123,0.5666 -1.10782,0.5666c-1.10782,0 -1.67442,0 -2.21565,-0.5666v-0.54123h0.54123c0.5666,0 0.5666,0 1.12897,0c0,0 0.54123,0 1.10782,-0.5666c1.10782,-0.5666 2.21565,-1.10782 3.32347,-1.10782h0.5666c1.10782,0 2.21565,0 3.34461,-0.5666c1.10782,-0.54123 2.21565,-0.54123 3.89007,-0.54123v0.54123c-1.10782,0 -2.23679,0.5666 -3.34461,0.5666c-1.10782,0.54123 -2.21565,0.54123 -3.32347,0.54123c-1.67442,0 -3.34461,0.5666 -3.91121,1.12896c-0.54123,0 -0.54123,0.54123 -1.10782,0.54123c-0.54123,0 -1.10782,0 -1.67442,0c0,0 1.12897,0.5666 1.67442,0.5666c0.5666,0 0.5666,0 1.10782,-0.5666c0.5666,-0.54123 1.67442,-0.54123 3.91121,-0.54123c1.65328,0 2.21565,0 3.32347,-0.5666c0.5666,0 1.67442,-0.5666 2.78224,-0.5666l7.23468,-3.31924v0.54123l-6.67231,2.78224v0.5666h-0.5666l-12.22834,5.56026c0,-0.56237 0,-0.56237 0,0c0,0 0.56237,-0.56237 0,0l19.46725,-7.7759v0.54123l-19.46725,7.23468c0.56237,0 0,0 0,0z" fill="#bf360c"></path><path d="M86,84.89218l-20.57507,1.10782h-0.5666h0.5666l20.57507,0.5666M79.32769,83.78435c-2.78224,-1.12896 -5.01903,0 -7.23468,-1.12896c-2.21565,-1.10782 -3.89007,-0.54123 -4.99789,-0.54123c-1.12897,0 -1.12897,-1.10782 -1.67442,-0.5666c-0.5666,0.5666 0,1.10782 1.67442,1.67442c1.65328,0.5666 2.21565,-0.5666 4.99789,1.10782c2.78224,1.67442 3.89007,0.5666 6.67231,1.67442" fill="#ffc107"></path><path d="M86,87.10782l-20.57507,-0.54123c0,0 -0.5666,0 -0.5666,-0.5666c0,-0.5666 0.5666,-0.5666 0.5666,-0.5666l11.6702,-0.54123c-0.54123,0 -1.10782,0 -1.65328,0c-1.12897,0 -2.23679,0 -3.34461,-1.10782c-1.67442,-1.12896 -2.78224,-1.12896 -3.34461,-0.5666c-0.54123,0 -1.10782,0 -1.10782,0c-1.10782,0 -1.67442,-1.10782 -1.67442,-1.10782v-0.5666h0.5666c0,0 0.5666,0.5666 1.10782,0.5666c0,0 0.5666,0 1.10782,0c1.12897,0 2.78224,-0.5666 4.45243,0.54123c1.10782,0.5666 2.23679,0.5666 3.34461,0.5666c1.10782,0 2.21565,0 3.89007,0.5666v0.54123c-1.10782,-0.54123 -2.21565,-0.54123 -3.34461,-0.54123c-1.10782,0 -2.21565,0 -3.32347,-0.5666c-1.67442,-1.10782 -2.78224,-0.5666 -3.89007,-0.5666c-0.5666,0 -0.5666,0 -1.12897,0c-0.54123,0 -1.10782,-0.54123 -1.10782,-0.54123c0,0 0.5666,0.54123 1.67442,1.10782c0.5666,0 1.10782,0 1.10782,0c1.10782,0 1.67442,0 3.89007,1.10782c1.12896,0.5666 2.23679,0.5666 3.34461,1.10782c0.5666,0 1.67442,0 2.78224,0.5666l7.78013,-0.5666v0.5666h-7.21354v0.5666c0,0 -0.5666,0 -0.5666,-0.5666h-15.01481z" fill="#bf360c"></path><path d="M86.5666,84.89218l-19.46725,-7.23468h-0.5666v0.5666l18.90488,8.88796M80.43551,81.54757c-1.67442,-2.21565 -4.45244,-2.21565 -6.12686,-3.89007c-1.65328,-1.67442 -3.89007,-2.21565 -4.43129,-2.21565c-0.5666,0 -1.12897,-1.12897 -1.12897,-1.12897c-0.54123,0 0,1.12897 1.12897,2.23679c1.10782,1.10782 2.21565,0.54123 4.43129,2.78224c2.23679,2.21565 3.91121,1.67442 5.56449,3.89007" fill="#ffc107"></path><path d="M85.4334,87.10782l-18.90488,-8.88796l-0.5666,-0.5666c0,0 0.5666,-0.5666 0.5666,0l11.12475,3.89007c-0.5666,-0.54123 -1.10782,-0.54123 -1.67442,-1.10782c-1.10782,-0.5666 -1.67442,-1.10782 -2.78224,-2.21565c-1.10782,-1.67442 -2.21565,-1.67442 -2.78224,-2.23679c-0.54123,0 -0.54123,-0.54123 -1.10782,-0.54123c-1.10782,-0.5666 -1.10782,-1.67442 -1.10782,-1.67442v-0.5666c0,0 0.54123,0 0.54123,0.5666c0,0 0.5666,0.54123 0.5666,1.10782c0,0 0.5666,0 1.10782,0.5666c1.10782,0.54123 2.23679,0.54123 3.89007,2.21565c0.5666,1.10782 1.67442,1.67442 2.78224,1.67442c1.12897,0.54123 2.23679,1.10782 3.34461,2.21565c-1.10782,-1.10782 -2.21565,-1.67442 -2.78224,-2.21565c-1.10782,-0.5666 -2.21565,-1.10782 -2.78224,-2.23679c-1.10782,-1.65328 -2.78224,-1.65328 -3.34461,-2.21565c-0.54123,0 -0.54123,0 -1.10782,-0.5666c-1.10782,0.5666 -1.10782,0 -1.67442,0c0,0.5666 0,1.12897 1.12897,1.67442c0.54123,0.5666 0.54123,0.5666 1.10782,0.5666c0.54123,0.54123 1.67442,0.54123 3.32347,2.21565c1.12897,1.10782 1.67442,1.67442 2.78224,2.23679c0.5666,0.54123 1.67442,0.54123 2.23679,1.65328l7.23468,2.78224v0.55814l-6.69345,-2.78224c0,0 0,-0.5666 -0.54123,-0.5666l-12.23257,-4.43129z" fill="#bf360c"></path><path d="M86.5666,85.4334l-15.03595,-13.90699h-0.54123v0.5666l13.90699,15.01481M82.65539,79.87315c-1.10782,-2.78224 -3.32347,-3.32347 -3.89007,-6.10571c-0.54123,-2.23679 -2.78224,-3.34461 -3.32347,-3.89007c-0.5666,-0.5666 -0.5666,-1.67442 -0.5666,-1.67442c0,0 -0.5666,1.10782 0,2.21565c0.5666,1.10782 1.67442,1.10782 2.78224,4.45243c1.10782,2.78224 2.78224,3.34461 3.34461,6.12686" fill="#ffc107"></path><path d="M84.89218,87.10782l-13.90699,-15.01481c0,0 0,0 0,-0.5666c0,0 0,0 0,-0.54123h0.54123l8.9091,8.3425c-0.5666,-0.5666 -0.5666,-1.10782 -1.10782,-1.10782c-0.5666,-0.5666 -1.10782,-1.67442 -1.67442,-2.78224c-0.5666,-1.67442 -1.10782,-2.78224 -1.67442,-3.34461c-0.54123,-0.5666 -0.54123,-0.5666 -1.10782,-1.10782c-0.5666,-1.10782 -0.5666,-1.67442 -0.5666,-2.23679c0,0 0,0 0.5666,0c0.5666,0 0.5666,0.5666 0.5666,0.5666c0,0.5666 0,0.5666 0.54123,1.10782l0.5666,0.5666c1.10782,0.54123 2.21565,1.67442 2.78224,3.32347c0.54123,1.12897 1.10782,2.23679 1.67442,2.78224c0.54123,1.12897 1.65328,1.67442 2.21565,3.34461h-0.5666c-0.54123,-1.10782 -1.10782,-2.21565 -2.21565,-2.78224c-0.5666,-1.10782 -1.67442,-1.67442 -2.21565,-2.78224c-0.5666,-1.67442 -1.67442,-2.78224 -2.78224,-3.34461c-0.5666,0 -0.5666,-0.54123 -0.5666,-0.54123c0,-1.67442 0,-2.23679 0,-2.23679c0,0 0,1.12896 0.5666,1.67442c0,0.5666 0.54123,0.5666 1.10782,1.10782c0.54123,0.5666 1.10782,1.12897 2.21565,3.34461c0.5666,1.67442 1.10782,2.21565 1.67442,2.78224c0.5666,0.5666 1.10782,1.10782 1.67442,2.21565l5.56449,5.56449l-5.56449,-4.99789h-0.5666v-0.5666l-9.45032,-8.88796z" fill="#bf360c"></path><path d="M78.76532,87.10782c-2.78224,0 -3.89007,1.67442 -6.67231,1.67442c2.21565,0.56237 3.34884,-1.10782 6.67231,-1.67442M86,85.4334l-13.34039,6.12685l13.34039,-4.99366" fill="#bf360c"></path><path d="M78.76532,84.32558c-2.78224,-1.10782 -4.45244,0 -6.67231,-1.10782c1.67442,1.10782 3.89007,0.5666 6.67231,1.10782M86,85.4334l-14.46936,0.5666l14.46936,0.5666" fill="#bf360c"></path><path d="M79.87315,81.54757c-2.21565,-1.67442 -3.89007,-1.67442 -5.56449,-3.32347c1.13319,1.64905 3.34884,1.64905 5.56449,3.32347M86,85.4334l-13.34039,-4.99789l12.77802,6.12685" fill="#bf360c"></path><path d="M82.10993,79.87315c-1.10782,-2.21565 -3.34461,-2.78224 -3.89007,-5.56449c0,2.24102 2.21565,2.78224 3.89007,5.56449M86.5666,85.4334l-10.58352,-9.45033l9.45033,10.58352" fill="#bf360c"></path><path d="M87.10782,85.4334l-8.88796,-18.90488c0,0 0,-0.5666 -0.5666,0v0.5666l7.23468,19.46725M85.4334,79.32769c0,-2.78224 -1.65328,-4.45243 -1.65328,-7.23468c0,-2.78224 -1.12897,-3.89007 -1.67442,-4.99789c-0.5666,-1.12897 0.54123,-1.67442 0,-1.67442c-0.5666,0 -1.10782,0.54123 -0.5666,2.21565c0,1.67442 1.10782,1.67442 1.10782,5.01903c0,3.32347 1.12897,3.89007 1.12897,6.67231" fill="#ffc107"></path><path d="M84.89218,86.5666l-7.23468,-19.46725v-0.5666c0,0 0.5666,0 0.5666,0.5666l4.99789,11.12475c0,-0.5666 0,-1.12896 -0.5666,-1.67442c-0.54123,-1.10782 -0.54123,-1.67442 -0.54123,-3.34461c0,-2.21565 0,-2.78224 -0.5666,-3.89007c0,-0.5666 -0.54123,-0.5666 -0.54123,-1.10782c0,-1.10782 0,-1.67442 0.54123,-2.23679h0.5666v0.5666c0,0.5666 0,0.5666 0,1.10782c0,0 0,0.5666 0.54123,1.10782c0.5666,1.12897 1.12896,2.23679 1.12896,4.45243c0,1.10782 0,2.23679 0.54123,3.34461c0.5666,1.10782 0.5666,2.21565 0.5666,3.89007h-0.5666c0,-1.67442 -0.54123,-2.78224 -0.54123,-3.34461c-0.5666,-1.10782 -0.5666,-2.21565 -0.5666,-3.32347c0,-1.67442 -0.5666,-3.34461 -1.10782,-3.89007c0,-0.5666 -0.5666,-0.5666 -0.5666,-1.12897c0,-0.54123 0,-1.10782 0,-1.65328c0,0 -0.54123,1.10782 -0.54123,1.65328c0,0.5666 0,0.5666 0.54123,1.12897c0.5666,0.54123 0.5666,1.65328 0.5666,3.89007c0,1.67442 0,2.21565 0.54123,3.32347c0,0.5666 0.5666,1.67442 0.5666,2.78224l3.34461,7.23468h-0.56237l-2.78224,-6.67231h-0.5666v-0.5666l-5.56449,-11.6702z" fill="#bf360c"></path><path d="M87.10782,86l-1.10782,-20.57507v-0.5666v0.5666l-1.10782,20.57507M88.21565,79.32769c1.12896,-2.78224 0,-5.01903 1.12896,-7.23468c1.10782,-2.21565 0.54123,-3.89007 0.54123,-4.99789c0,-1.12897 1.10782,-1.12897 0.5666,-1.67442c-0.5666,-0.5666 -1.10782,0 -1.67442,1.67442c-0.5666,1.65328 0.5666,2.21565 -1.10782,4.99789c-1.67442,2.78224 -0.5666,3.89007 -1.67442,6.67231" fill="#ffc107"></path><path d="M87.10782,86v-7.23468h-0.54123c0,0 0,-0.54123 0.54123,-0.54123l-1.10782,-12.79917l-1.10782,20.57507h-0.5666l0.5666,-20.57507c0,0 0,-0.5666 0.54123,-0.5666c0.5666,0 0.5666,0.5666 0.5666,0.5666l0.5666,11.6702c0,-0.54123 0,-1.10782 0,-1.65328c0,-1.12897 0,-2.23679 1.10782,-3.34461c1.10782,-1.67442 1.10782,-2.78224 0.54123,-3.34461c0,-0.54123 0,-1.10782 0,-1.10782c0,-1.10782 1.12896,-1.67442 1.12896,-1.67442h0.54123v0.5666c0,0 -0.54123,0.5666 -0.54123,1.10782c0,0 0,0.5666 0,1.10782c0,1.12897 0.54123,2.78224 -0.5666,4.45243c-0.5666,1.10782 -0.5666,2.23679 -0.5666,3.34461c0,1.10782 0,2.21565 -0.54123,3.89007h-0.5666c0.5666,-1.10782 0.5666,-2.21565 0.5666,-3.34461c0,-1.10782 0,-2.21565 0.54123,-3.32347c1.12896,-1.67442 0.5666,-3.34461 0.5666,-3.89007c0,-0.5666 0,-0.5666 0,-1.12897c0,-0.54123 0.5666,-1.10782 0.5666,-1.10782c0,0 -0.5666,0.5666 -1.12896,1.67442c0,0.5666 0,0.5666 0,1.10782c0,1.10782 0,1.67442 -1.10782,3.89007c-0.54123,1.12896 -0.54123,2.23679 -1.10782,3.34461c0,0.5666 0,1.67442 -0.5666,2.78224z" fill="#bf360c"></path><path d="M87.10782,86.5666l7.23468,-19.46725v-0.5666h-0.56237l-8.88796,18.90488M90.45244,80.43551c2.21565,-1.67442 2.21565,-4.45244 3.89007,-6.12686c1.67442,-1.65328 2.21565,-3.89007 2.21565,-4.43129c0,-0.5666 1.12896,-1.12897 1.12896,-1.12897c0,-0.54123 -1.12896,0 -2.23679,1.12897c-1.10782,1.10782 -0.54123,2.21565 -2.78224,4.43129c-2.21565,2.23679 -1.67442,3.91121 -3.89007,5.56449" fill="#ffc107"></path><path d="M87.10782,86.5666l2.23679,-7.23468c0,0 0.54123,0 0.54123,-0.5666l4.45243,-12.23257l-8.9091,18.90488h-0.54123l8.88796,-18.90488l0.5666,-0.5666c0,0 0.5666,0.5666 0,0.5666l-3.89007,11.12475c0.54123,-0.5666 0.54123,-1.10782 1.10782,-1.67442c0.5666,-1.10782 1.10782,-1.67442 2.21565,-2.78224c1.67442,-1.10782 1.67442,-2.21565 2.23679,-2.78224c0,-0.54123 0.54123,-0.54123 0.54123,-1.10782c0.5666,-1.10782 1.67442,-1.10782 1.67442,-1.10782h0.5666c0,0 0,0.54123 -0.5666,0.54123c0,0 -0.54123,0.5666 -1.10782,0.5666c0,0 0,0.5666 -0.5666,1.10782c-0.54123,1.10782 -0.54123,2.23679 -2.21565,3.89007c-1.10782,0.5666 -1.67442,1.67442 -1.67442,2.78224c-0.54123,1.12896 -1.10782,2.23679 -2.21565,3.34461c1.10782,-1.10782 1.67442,-2.21565 2.21565,-2.78224c0.5666,-1.10782 1.10782,-2.21565 2.23679,-2.78224c1.65328,-1.10782 1.65328,-2.78224 2.21565,-3.34461c0,-0.54123 0,-0.54123 0.5666,-1.10782c0.54123,-0.54123 0.54123,-0.54123 1.10782,-1.10782c-0.5666,0 -1.10782,0 -1.67442,1.10782c-0.5666,0.5666 -0.5666,0.5666 -0.5666,1.10782c-0.54123,0.5666 -0.54123,1.67442 -2.21565,3.34461c-2.21565,0 -2.78224,1.10782 -2.78224,2.21565c-0.5666,0.5666 -0.5666,1.67442 -1.67442,2.23679z" fill="#bf360c"></path><path d="M86.5666,86.5666l13.90699,-15.03595v-0.54123h-0.5666l-15.01481,13.90699M92.12686,82.65539c2.78224,-1.10782 3.32347,-3.32347 6.10571,-3.89007c2.23679,-0.54123 3.34461,-2.78224 3.89007,-3.32347c0.5666,-0.5666 1.67442,-0.5666 1.67442,-0.5666c0,0 -1.10782,-0.5666 -2.21565,0c-1.10782,0.5666 -1.10782,1.67442 -4.45243,2.78224c-2.78224,1.10782 -3.34461,2.78224 -6.12686,3.34461" fill="#ffc107"></path><path d="M87.10782,87.10782l4.45243,-5.56449v-0.54123h0.5666l8.88796,-9.47147l-15.01481,13.90276l15.01481,-13.90699c0,0 0,0 0.5666,0v0.5666l-8.9091,8.3425c0.5666,-0.5666 1.10782,-0.5666 1.10782,-1.10782c0.5666,-0.5666 1.67442,-1.10782 2.78224,-1.67442c1.67442,-0.5666 2.78224,-1.10782 3.34461,-1.67442c0.5666,-0.54123 0.5666,-0.54123 1.10782,-1.10782c1.10782,-0.5666 1.67442,-0.5666 2.23679,-0.5666c0,0 0,0 0,0.5666c0,0.5666 -0.5666,0.5666 -0.5666,0.5666c-0.5666,0 -0.5666,0 -1.10782,0.54123l-0.5666,0.5666c-0.54123,1.10782 -1.67442,2.21565 -3.32347,2.78224c-1.12896,0.54123 -2.23679,1.10782 -2.78224,1.67442c-1.12896,0.54123 -1.67442,1.65328 -3.34461,2.21565v-0.5666c1.10782,-0.54123 2.21565,-1.10782 2.78224,-2.21565c1.10782,-0.5666 1.67442,-1.67442 2.78224,-2.21565c1.67442,-0.5666 2.78224,-1.67442 3.34461,-2.23679c0,-0.54123 0.54123,-0.54123 0.54123,-0.54123c1.67442,-0.5666 2.23679,-0.5666 2.23679,-0.5666c0,0 -1.12897,0 -1.67442,0.5666c-0.5666,0 -0.5666,0.54123 -1.10782,1.10782c-0.5666,0.54123 -1.12897,1.10782 -3.34461,2.21565c-1.67442,0.5666 -2.21565,1.10782 -2.78224,1.67442c-0.5666,0.5666 -1.10782,1.10782 -2.21565,1.67442z" fill="#bf360c"></path><path d="M84.89218,78.76532c0,-2.78224 -1.67442,-3.89007 -1.67442,-6.67231c-0.56237,2.21565 1.10782,3.34884 1.67442,6.67231M86.5666,86l-6.12685,-13.34039l4.99366,13.34039" fill="#bf360c"></path><path d="M87.67442,78.76532c1.10782,-2.78224 0,-4.45244 1.10782,-6.67231c-1.10782,1.67442 -0.5666,3.89007 -1.10782,6.67231M86.5666,86l-0.5666,-14.46936l-0.5666,14.46936" fill="#bf360c"></path><path d="M90.45244,79.87315c1.67442,-2.21565 1.67442,-3.89007 3.32347,-5.56449c-1.64905,1.13319 -1.64905,3.34884 -3.32347,5.56449M86.5666,86l4.99789,-13.34039l-6.13108,13.34039" fill="#bf360c"></path><path d="M92.12686,82.10993c2.21565,-1.10782 2.78224,-3.34461 5.56449,-3.89007c-1.67442,0 -2.78224,2.21565 -5.56449,3.89007M86.5666,86.5666l9.45032,-10.58352l-10.58352,9.45033" fill="#bf360c"></path><path d="M86.5666,87.10782l18.90488,-8.88796c0,0 0.5666,0 0,-0.5666h-0.5666l-19.46725,7.23468M92.67231,85.4334c2.78224,0 4.45243,-1.65328 7.23468,-1.65328c2.78224,0 3.89007,-1.12897 4.99789,-1.67442c1.12896,-0.5666 1.67442,0.54123 1.67442,0c0,-0.5666 -0.54123,-1.10782 -2.21565,-0.5666c-1.67442,0 -1.67442,1.10782 -5.01903,1.10782c-3.32347,0 -3.89007,1.12897 -6.67231,1.12897" fill="#ffc107"></path><path d="M86.5666,87.10782l6.67231,-3.32347v-0.5666h0.54123l11.69134,-5.56449l-19.47148,7.23891v-0.5666l19.46725,-7.23468h0.5666c0,0.5666 0,0.5666 -0.5666,0.5666l-11.12475,4.99789c0.5666,0 1.10782,0 1.67442,-0.54123c1.10782,-0.5666 1.67442,-0.5666 3.32347,-0.5666c0.5666,0 0.5666,0 1.12896,0c1.65328,0 2.21565,-0.54123 2.78224,-0.54123c0.54123,0 0.54123,-0.5666 1.10782,-0.5666c1.10782,0 1.67442,0 2.21565,0.5666v0.54123h-0.54123c-0.5666,0 -0.5666,0 -1.12896,0c0,0 -0.54123,0 -1.10782,0.5666c-1.10782,0.54123 -2.21565,1.10782 -3.32347,1.10782h-0.5666h-0.5666c-1.10782,0 -1.65328,0.5666 -2.78224,0.5666c-1.10782,0.54123 -2.21565,0.54123 -3.32347,0.54123v-0.54123c1.10782,0 2.21565,-0.5666 3.32347,-0.5666c1.12896,-0.5666 2.23679,-0.5666 3.34461,-0.5666c1.67442,0 3.34461,-0.54123 3.89007,-1.10782c0.5666,0 0.5666,-0.54123 1.10782,-0.54123c0.5666,0 1.12896,0 1.67442,0c0,0 -1.10782,-0.5666 -1.67442,-0.5666c-0.54123,0 -0.54123,0 -1.10782,0.5666c-0.54123,0.54123 -1.67442,0.54123 -3.89007,0.54123c-1.67442,0 -2.21565,0 -3.34461,0.5666c-0.54123,0 -1.65328,0.54123 -2.21565,0.54123z" fill="#bf360c"></path><path d="M86,87.10782l20.57507,-0.54123h0.5666h-0.5666l-20.57507,-1.67442M92.67231,88.21565c2.78224,1.12896 5.01903,0 7.23468,1.12896c2.21565,1.10782 3.89007,0.54123 4.99789,0.54123c1.12896,0 1.12896,1.10782 1.67442,0.5666c0.5666,-0.5666 0,-1.10782 -1.67442,-1.67442c-1.65328,-0.5666 -2.21565,0.5666 -4.99789,-1.10782c-2.78224,-1.67442 -3.89007,-0.5666 -6.67231,-1.67442" fill="#ffc107"></path><path d="M106.57507,90.99789c-0.54123,0 -0.54123,-0.54546 0,0c-0.54123,-0.54123 -1.10782,-0.54123 -1.67442,-0.54123c0,0 -0.54123,0 -1.10782,0c-1.10782,0 -2.78224,0.54123 -4.45243,-0.5666c-1.10782,-0.54123 -2.21565,-0.54123 -3.32347,-0.54123c-1.10782,0 -2.23679,0 -3.89007,-0.5666v-0.5666c1.10782,0.5666 2.21565,0.5666 3.32347,0.5666c1.10782,0 2.23679,0 3.34461,0.5666c1.67442,1.10782 2.78224,0.54123 3.89007,0.54123c0.5666,0 0.5666,0 1.10782,0c1.67442,0 2.24102,0 2.78224,1.10782c-0.54123,-0.54546 0,-0.54546 0,0c0,-0.54546 0,-0.54546 0,0c0,-0.54123 -0.54123,-1.10782 -1.67442,-1.65328c-0.54123,0 -0.54123,0 -1.10782,0c-1.10782,0 -1.67442,0 -3.89007,-1.12896c-1.10782,-0.54123 -2.21565,-0.54123 -3.34461,-1.10782c-0.54123,0 -1.65328,0 -2.78224,-0.54123l-7.77591,0.54123v-0.54123h7.23468v-0.5666c0,0 0.54123,0 0.54123,0.5666l12.79916,-0.5666l-20.57507,-1.10782v-0.5666l20.57507,0.5666c0,0 0.5666,0 0.5666,0.54123c0,0.5666 -0.5666,0.5666 -0.5666,0.5666l-11.6702,0.5666c0.54123,0 1.10782,0 1.65328,0c1.12896,0 2.23679,0 3.34461,1.10782c1.67442,1.10782 2.78224,1.10782 3.34461,0.54123c0.54123,0 1.10782,0 1.10782,0c1.67865,1.12896 2.21987,1.67442 2.21987,2.78224c0,-0.54546 0,-0.54546 0,0z" fill="#bf360c"></path><path d="M85.4334,87.10782l19.46725,7.23468h0.5666v-0.56237l-18.90488,-8.88796M91.56449,90.45244c1.67442,2.21565 4.45243,2.21565 6.12686,3.89007c1.65328,1.67442 3.89007,2.21565 4.43129,2.21565c0.5666,0 1.12896,1.12896 1.12896,1.12896c0.54123,0 0,-1.12896 -1.12896,-2.23679c-1.10782,-1.10782 -2.21565,-0.54123 -4.43129,-2.78224c-2.23679,-2.21565 -3.91121,-1.67442 -5.56449,-3.89007" fill="#ffc107"></path><path d="M103.2516,98.23257c-0.56237,0 -0.56237,0 0,0c-0.5666,-0.54123 -0.5666,-1.10782 -1.12896,-1.10782c0,0 -0.54123,0 -1.10782,-0.5666c-1.10782,-0.54123 -2.21565,-0.54123 -3.89007,-2.21565c-0.5666,-1.10782 -1.67442,-1.67442 -2.78224,-1.67442c-1.10782,-0.54123 -2.21565,-1.10782 -3.34461,-2.21565c1.12896,1.10782 2.23679,1.67442 2.78224,2.21565c1.12896,0.5666 2.23679,1.10782 2.78224,2.23679c1.12896,1.65328 2.78224,1.65328 3.34461,2.21565c0.5666,0 0.5666,0 1.10782,0.5666c1.67442,-0.56237 1.67442,0.00423 2.23679,0.54546c0,-0.54123 0,-0.54123 0,0c0,-0.54123 0,-0.54123 0,0c0,-0.54123 0,-1.67442 -1.12896,-2.21565c-0.54123,-0.5666 -0.54123,-0.5666 -1.10782,-0.5666c-0.54123,-0.54123 -1.67442,-0.54123 -3.32347,-2.21565c-0.5666,-1.10782 -1.67442,-1.67442 -2.78224,-1.67442c-0.5666,-0.5666 -1.67442,-0.5666 -2.23679,-1.67442l-7.23468,-2.78224v-0.54123l6.69345,2.78224c0,0 0,0.54123 0.54123,0.54123l12.23257,4.45243l-18.90488,-8.90487v-0.54123l18.90488,8.88796l0.5666,0.5666c0,0 -0.5666,0.5666 -0.5666,0l-11.12474,-3.89007c0.5666,0.54123 1.12896,0.54123 1.67442,1.10782c1.10782,0.5666 1.67442,1.10782 2.78224,2.21565c1.10782,1.67442 2.23679,1.67442 2.78224,2.23679c0.5666,0 0.5666,0.54123 1.10782,0.54123c1.12474,0 1.67019,1.13319 1.12474,1.67442z" fill="#bf360c"></path><path d="M85.4334,86.5666l15.03595,13.90699h0.54123v-0.5666l-13.90699,-15.01481M89.34461,92.12686c1.10782,2.78224 3.32347,3.32347 3.89007,6.10571c0.54123,2.23679 2.78224,3.34461 3.32347,3.89007c0.5666,0.5666 0.5666,1.67442 0.5666,1.67442c0,0 0.5666,-1.10782 0,-2.21565c-0.5666,-1.10782 -1.67442,-1.10782 -2.78224,-4.45243c-1.10782,-2.78224 -2.78224,-3.34461 -3.34461,-6.12686" fill="#ffc107"></path><path d="M97.12475,103.79706c0,-0.54123 0,-1.10782 -0.5666,-1.67442l-0.54123,-0.54123c-1.10782,-0.5666 -2.23679,-1.67442 -2.78224,-3.34461c-0.5666,-1.10782 -1.10782,-2.21565 -1.67442,-2.78224c-0.5666,-1.10782 -1.67442,-1.67442 -2.21565,-3.32347h0.54123c0.5666,1.10782 1.10782,2.21565 2.23679,2.78224c0.54123,1.10782 1.65328,1.65328 2.21565,2.78224c0.5666,1.65328 1.67442,2.78224 2.78224,3.32347c0.5666,0 0.5666,0.5666 0.5666,0.5666c-0.5666,1.10782 -0.5666,1.67442 -0.5666,1.67442v0.537c0.00423,0 0.00423,-0.54545 0.00423,0c0,-0.54123 0,-1.67442 -0.5666,-2.21565c0,-0.5666 -0.54123,-0.5666 -1.10782,-1.10782c-0.54123,-0.5666 -1.10782,-1.12896 -2.21565,-3.34461c-0.5666,-1.67442 -1.10782,-2.21565 -1.67442,-2.78224c-0.5666,-0.5666 -1.10782,-1.10782 -1.67442,-2.21565l-5.56449,-5.56449l5.56449,4.99789h0.5666v0.5666l9.45033,8.88796l-13.90276,-15.01904l13.90699,15.01481c0,0 0,0 0,0.5666c0,0 0,0 0,0.54123h-0.5666l-7.78013,-9.45032c0.5666,0.5666 0.5666,1.10782 1.10782,1.10782c0.5666,0.5666 1.10782,1.67442 1.67442,2.78224c0.5666,1.67442 1.10782,2.78224 1.67442,3.34461c0.54123,0.5666 0.54123,0.5666 1.10782,1.10782c0.5666,1.67442 0.5666,2.23679 0,2.78224c0.5666,0 0.5666,0 0,0z" fill="#bf360c"></path><path d="M93.23468,84.89218c2.78224,0 3.89007,-1.67442 6.67231,-1.67442c-2.21565,-0.56237 -3.34884,1.10782 -6.67231,1.67442M86,86.5666l12.79917,-6.12685l-12.79917,4.99366" fill="#bf360c"></path><path d="M93.23468,87.67442c2.78224,1.10782 4.45243,0 6.67231,1.10782c-1.67442,-1.10782 -3.89007,-0.5666 -6.67231,-1.10782M86,86.5666l14.46936,-0.5666l-14.46936,-0.5666" fill="#bf360c"></path><path d="M92.12686,90.45244c2.21565,1.67442 3.89007,1.67442 5.56449,3.32347c-1.13319,-1.64905 -3.34884,-1.64905 -5.56449,-3.32347M86,86.5666l13.34039,4.99789l-13.34039,-6.13108" fill="#bf360c"></path><path d="M89.89007,92.12686c1.10782,2.21565 3.34461,2.78224 3.89007,5.56449c0,-1.67442 -2.21565,-2.78224 -3.89007,-5.56449M85.4334,86.5666l10.58352,9.45032l-9.45032,-10.58352" fill="#bf360c"></path><path d="M94.3425,86c0,4.45243 -3.89007,8.3425 -8.3425,8.3425c-4.45243,0 -8.3425,-3.89007 -8.3425,-8.3425c0,-4.45243 3.89007,-8.3425 8.3425,-8.3425c4.45243,0 8.3425,3.89007 8.3425,8.3425z" fill="#ffc107"></path><path d="M86,94.9091c-4.99789,0 -8.9091,-3.91121 -8.9091,-8.9091c0,-4.99789 3.91121,-8.9091 8.9091,-8.9091c4.99789,0 8.9091,3.91121 8.9091,8.9091c0,4.99789 -3.91121,8.9091 -8.9091,8.9091zM86,77.6575c-4.45243,0 -8.3425,3.89007 -8.3425,8.3425c0,4.45243 3.89007,8.3425 8.3425,8.3425c4.45243,0 8.3425,-3.89007 8.3425,-8.3425c0,-4.45243 -3.89007,-8.3425 -8.3425,-8.3425z" fill="#bf360c"></path><path d="M88.78224,84.32558c-0.5666,0 -1.10782,0 -1.67442,0.5666c0.5666,0.54123 2.23679,0.54123 3.34461,0c-0.56237,-0.5666 -1.10782,-0.5666 -1.67019,-0.5666zM88.78224,84.32558c0.5666,0 1.10782,0 1.10782,0.5666c-0.54123,0.54123 -1.67442,0.54123 -2.21565,0c0.54123,-0.5666 0.54123,-0.5666 1.10782,-0.5666z" fill="#843511"></path><path d="M88.78224,83.78435c-1.10782,0 -1.10782,0 -1.67442,0.54123c-0.54123,0.5666 -0.54123,0 -0.54123,0.5666c0,0.54123 0,0 0,0c0,0 0.54123,0 0.54123,-0.5666c0,-0.54123 1.67442,-0.54123 1.67442,-0.54123c1.10782,0 1.67442,1.10782 1.67442,1.10782c0.54123,0 -0.00423,-1.10782 -1.67442,-1.10782z" fill="#bf360c"></path><path d="M91.56449,84.32558c-1.67442,-1.10782 -3.34461,-1.67442 -4.45244,-0.54123c0,0.54123 -0.54123,0.54123 -0.54123,1.10782c0,0.54123 0,1.67442 0.54123,2.21565c-0.54123,-1.10782 -0.54123,-2.21565 -0.54123,-2.78224v-0.54123c1.64482,-1.67442 3.31924,-1.67442 4.99366,0.54123z" fill="#bf360c"></path><path d="M89.34461,84.89218c0,0.54123 0,0.54123 -0.5666,0.54123c-0.5666,0 -0.5666,0 -0.5666,-0.54123c0,-0.5666 0,-0.5666 0.5666,-0.5666c0.5666,0 0.5666,0 0.5666,0.5666z" fill="#bf360c"></path><path d="M90.45244,85.4334c-1.10782,1.13319 -2.23679,0.5666 -2.77801,0.5666c-0.5666,0 -0.5666,-0.5666 -0.5666,-0.5666c0,0 0,0 0.5666,0.5666c0.54123,0.5666 1.67019,0 2.77801,-0.5666z" fill="#bf360c"></path><path d="M84.89218,87.10782l-0.5666,0.5666c0,0.54123 0,0.54123 0.5666,0.54123h0.54123h0.5666h0.5666h0.54123c0.5666,0 0.5666,0 0.5666,-0.54123c0,-0.5666 0,-0.5666 -0.5666,-0.5666c0,0 0,0 0,0.5666c0,0 0,0.54123 -0.54123,0.54123c0,0 -0.5666,0 -0.5666,-0.54123l-0.5666,0.54123c0,0 0,-0.54123 -0.54123,-1.10782c0.54123,0.5666 0.54123,0.5666 0,0.5666c0,0 -0.5666,0 0,-0.5666c-0.5666,0 -0.5666,0 0,0z" fill="#bf360c"></path><path d="M85.4334,88.78224c-0.54123,0 -1.10782,0.5666 -1.65328,1.10782c0.54546,0 0.54546,-0.54546 1.65328,-1.10782l0.5666,0.56237c0,0 0.5666,-0.5666 1.10782,0c0.5666,0.54123 0.5666,0.54123 1.10782,0.54123c-0.54123,-0.54123 -1.10782,-1.10782 -1.65328,-1.10782h-0.56237c-0.5666,0.00423 -0.5666,0.00423 -0.5666,0.00423z" fill="#bf360c"></path><path d="M84.89218,89.89007c0,0 -0.5666,0 -1.10782,0c1.10782,0 1.65328,0 1.65328,0c0.5666,0 0.5666,-0.54123 2.23679,0c-1.10782,-0.54123 -1.67442,0 -2.23679,0c0.56237,0 -0.00423,0 -0.54546,0z" fill="#bf360c"></path><path d="M84.32558,89.89007c-0.54123,0 -0.54123,0 0,0c1.10782,0 0.5666,1.10782 1.67442,1.10782c1.10782,0 0.5666,-0.54123 2.21565,-1.10782c-1.65328,0 -1.10782,0.5666 -2.21565,0.5666c-1.10782,0 -0.5666,-0.5666 -1.67442,-0.5666z" fill="#bf360c"></path><path d="M87.10782,92.12686c0,-0.5666 -0.54123,-1.12896 -1.10782,-1.12896c-0.5666,0 -1.10782,0.5666 -1.10782,1.12896c0,-0.5666 0.54123,-1.12896 1.10782,-1.12896c0.5666,0 1.10782,0.5666 1.10782,1.12896z" fill="#bf360c"></path><path d="M81.00211,84.32558c1.65328,-1.10782 3.32347,-1.67442 4.43129,-0.54123c0,0.54123 0.5666,0.54123 0.5666,1.10782c0,0.54123 0,1.67442 -0.5666,2.21565c0.5666,-1.10782 0.5666,-1.67442 0.5666,-2.78224v-0.54123c-1.67442,-1.67442 -3.89007,-1.67442 -4.99789,0.54123z" fill="#bf360c"></path><path d="M83.21776,83.78435c1.10782,0 1.10782,0 1.67442,0.54123c0.54123,0.5666 0.54123,0 0.54123,0.5666c0,0.54123 0,0 0,0c0,0 -0.54123,0 -0.54123,-0.5666c0,-0.54123 -1.67442,-0.54123 -1.67442,-0.54123c-1.10782,0 -1.67442,1.10782 -2.21565,1.10782c0,0 0.54546,-1.10782 2.21565,-1.10782z" fill="#bf360c"></path><path d="M83.21776,84.32558c-0.5666,0 -1.10782,0 -1.67442,0.5666c0.5666,0.54123 2.23679,0.54123 3.34461,0c-0.56237,-0.5666 -1.10359,-0.5666 -1.67019,-0.5666zM83.21776,84.32558c0.5666,0 1.10782,0 1.10782,0.5666c-0.54123,0.54123 -1.67442,0.54123 -2.21565,0c0,-0.5666 0.54546,-0.5666 1.10782,-0.5666z" fill="#843511"></path><path d="M83.78435,84.89218c0,0.54123 0,0.54123 -0.5666,0.54123c-0.5666,0 -0.5666,0 -0.5666,-0.54123c0,-0.5666 0,-0.5666 0.5666,-0.5666c0,0 0.5666,0 0.5666,0.5666z" fill="#bf360c"></path><path d="M81.54757,85.4334c1.10782,1.13319 2.23679,0.5666 2.77801,0.5666c0.5666,-0.5666 0.5666,-0.5666 0.5666,-0.5666c0,0 0,0 -0.5666,0.5666c-0.54123,0.5666 -1.67019,0 -2.77801,-0.5666z" fill="#bf360c"></path></g></g></svg>
      <% else %>
      <% end %>
            <% if @tour.country.upcase == "CHINE" %>
<svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
width="48" height="48"
viewBox="0 0 48 48"
style=" fill:#000000;"><path fill="#FF3D00" d="M2 9L2 24 2 39 46 39 46 24 46 9z"></path><path fill="#FFEB3B" d="M10 13.49L11.181 17.24 15 17.24 11.91 19.367 13.09 23 10 20.755 6.91 23 8.09 19.367 5 17.24 8.819 17.24zM17.474 10.976L17.828 12.101 18.974 12.101 18.047 12.737 18.401 13.828 17.474 13.154 16.547 13.828 16.901 12.737 15.974 12.101 17.12 12.101zM17.5 24L17.854 25.125 19 25.125 18.073 25.762 18.427 26.853 17.5 26.179 16.573 26.853 16.927 25.762 16 25.125 17.146 25.125zM21.5 15L21.854 16.125 23 16.125 22.073 16.762 22.427 17.853 21.5 17.179 20.573 17.853 20.927 16.762 20 16.125 21.146 16.125zM21.5 20L21.854 21.125 23 21.125 22.073 21.762 22.427 22.853 21.5 22.179 20.573 22.853 20.927 21.762 20 21.125 21.146 21.125z"></path></svg>
      <% else %>
      <% end %>
              <% if @tour.country.upcase == "ITALIE" %>
      <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
width="48" height="48"
viewBox="0 0 172 172"
style=" fill:#000000;"><g transform=""><g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><path d="M0,172v-172h172v172z" fill="none"></path><path d="M86,141.9c-30.87272,0 -55.9,-25.02728 -55.9,-55.9v0c0,-30.87272 25.02728,-55.9 55.9,-55.9v0c30.87272,0 55.9,25.02728 55.9,55.9v0c0,30.87272 -25.02728,55.9 -55.9,55.9z" fill="#cccccc"></path><g><path d="M55.32667,28.4875h61.34667v115.025h-61.34667z" fill="#eceff1"></path><path d="M116.67333,28.4875h53.67833v115.025h-53.67833z" fill="#ff3d00"></path><path d="M1.64833,28.4875h53.67833v115.025h-53.67833z" fill="#689f38"></path></g><path d="" fill="none"></path></g></g></svg>
      <% else %>
      <% end %>
      <p><%= @tour.city %></p>

  <div id="triangle"></div>
  </div>

   <!-- descipriotn et caroussel
  ================================================== -->

  <div class="tab-container">
    <ul class="list-inline tabs">
      <li>
        <p class="tab"><i class="far fa-calendar-alt"></i></p>
        <p class="infos"><%= @tour.date.strftime('%x') %></p>
      </li>
      <li>
        <p class="tab"><i class="far fa-clock"></i></p>
        <p class="infos"><%= @tour.time.strftime("%H:%M") %></p>
      </li>
      <li>
        <p class="tab"><i class="fas fa-hourglass-half"></i></p>
        <p class="infos"><%= @tour.duration %> min</p>
      </li>
      <li>
        <p class="tab"><i class="fas fa-language"></i></p>
        <p class="infos"><%= @tour.language %></p>
      </li>
      <li>
        <p class="tab"><i class="fas fa-users"></i></p>
        <p class="infos"><%= @tour.capacity %>prs</p>
      </li>
    </ul>
    <div class="body-container" data-aos="fade-up">
      <div class="presentation">
        <h5>Prsentation de la visite</h5>
        <h3>Description dtaille par votre guide <strong> <%= @tour.user.first_name %> </strong></h3>
        <p><%= @tour.description %> </p>
        <div class="price">
          <p><strong><%= @tour.price %> </strong></p>
          <p id="category"><strong><%= @tour.category %></strong></p>
        </div>
      </div>
      <div class="slider">
        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
            <% @tour.images.each do |image| %>
              <% if image == @tour.images.first %>
                <div class="carousel-item active">
              <% else %>
                <div class="carousel-item">
              <% end %>
                <%= cl_image_tag image.key, class: "d-block w-100" %>
              </div>
            <% end %>
          </div>
          <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
    </div>
  </div>

  <!-- profil guide
  ================================================== -->
  <div class="tab-container2">
    <div class="body-container">
      <div class="slider">
        <% if @tour.user.photo.attached? %>
            <%= cl_image_tag "#{@tour.user.photo.key}", crop: :fill %>
        <% else %>
             <%= image_tag @tour.user.gender == "homme" ? "avatar_homme.jpg" : "avatar_femme.jpg", crop: :fill %>
        <% end %>
      </div>
      <div class="presentation">
        <h5>Votre guide</h5>
        <h3>Qui est votre guide <strong> <%= @tour.user.first_name %> </strong> ?</h3>
        <p><%= @tour.user.description %> </p>
      </div>
    </div>
  </div>

  <!-- booking
  ================================================== -->

  <div class="tab-container">
    <h3>La vraie aventure commence <strong>maintenant</strong>.</h3>
  </div>
  <div class="bouton">
    <%= link_to "Rserver la visite", tour_bookings_path(@tour), method: :post, class: "btn btn-flat" %>
  </div>
  <div id="triangle0"></div>
  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url(<%= cl_image_path @tour.images.last.key %>);">
  <div id="triangle2"></div>
  </div>

  <!-- Calendrier guide
  ================================================== -->

  <div class="tab-container">
    <div class="calendrier">
      <h5>Calendrier</h5>
      <h3>L'aventure continue <strong>toujours</strong>.</h3>
      <p>Consulter les prochains lives de <%= @tour.user.first_name %>.</p>
    </div>
  </div>

    <div class="container-calendrier">
      <ul class="card-wrap">
        <% @guide_tours.each do |tour|%>
          <% if tour.id != @tour.id %>
            <%= link_to tour_path(tour) do %>
            <li class="card" data-aos="fade-up">
              <%= cl_image_tag tour.images[0].key %>
              <div id="triangle3"></div>
    <div class="card-click"
    style= "width: 248px;">

    <h6><%= tour.name %></h6>

    <div class="card-info" style="
    padding-right: 20;
    padding-left: 29px;
    padding-right: _50;
    padding-right: -50;
    padding-right: -11;
    width: 259px;
    height: 88px;">
      <p>
        <i class="far fa-calendar-alt"></i>
        <%= l(tour.date, format: :short) %></p>
      <p>
        <i class="fas fa-map-marked-alt"></i>
        <%= tour.city%></p>

      <p>
        <i class="far fa-clock text-center"></i>
        <%= tour.duration %> min</p>
      <p>
        <i class="fa fa-language" aria-hidden="true"></i>
        <%= tour.language.capitalize %></p>
    </div>
          <% end %>
        <% end %>
        <% end %>
      </ul>
  </div>
</div>

<!-- TESTIMONIALS
================================================== -->
<section class="pt-10 pt-md-12">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-md-10 col-lg-8 text-center">
        <!-- Heading -->
        <div class="testimonial">
          <h5>Tmoignages</h5>
        </div>
        <h3>Nos voyageurs <strong>en parlent</strong></h3>
        <!-- Text -->
        <p>Ne nous croyez pas sur parole. Nos voyageurs sont ceux qui en parlent le mieux.</p>
      </div>
    </div> <!-- / .row -->
    <div class="row" data-aos="fade-up">
      <div class="col-12">
        <!-- Card -->
        <div class="card-testimonial card-row shadow mb-5">
          <!-- card card-row shadow-light-lg mb-6 -->
          <div class="row no-gutters">
            <div class="col-12 col-md-6">
              <!-- Slider -->
              <div class="card-img-slider" data-flickity='{"fade": true, "imagesLoaded": true, "pageDots": false, "prevNextButtons": false, "asNavFor": "#blogSlider", "draggable": false}'>
                <a class="card-img-left bg-cover" style="background-image: url(<%= asset_path('testimonial.jpg') %>);" href="#!">
                  <!-- Image (placeholder) -->
                  <%= link_to root_path, class: "img-fluid d-md-none invisible" do %>
                    <%= image_tag "photo-1.jpg" %>
                  <% end %>
                </a>
                <a class="card-img-left bg-cover" style="background-image: url(<%= asset_path('testimonial.jpg') %>);">
                  <!-- Image (placeholder) -->
                  <%= link_to root_path, class: "img-fluid d-md-none invisible" do %>
                    <%= image_tag "photo-27.jpg" %>
                  <% end %>
                </a>
              </div>
            </div>
            <div class="col-12 col-md-6 position-md-static">
              <!-- Slider -->
              <div class="position-md-static" data-flickity='{"wrapAround": true, "pageDots": false, "adaptiveHeight": true}' id="testimonialSlider">
                <div class="w-100">
                  <!-- Body -->
                  <div class="card-body">
                    <blockquote class="blockquote text-center mb-0">
                      <!-- Brand -->
                      <div class="row justify-content-center mb-5 mb-md-7">
                        <div class="col-6 col-sm-4 col-md-7 col-lg-5">
                          <!-- Logo -->
                          <div class="img-fluid svg-shim" style="color: #FF5A5F;">
                            <!-- @@include("../app/assets/images/Voyages.jpg") -->
                            <%= link_to root_path, class: "navbar-brand" do %>
                            <%= image_tag "avatar-1.jpg", class: "rounded-circle" %>
                            <% end %>
                          </div>
                        </div>
                      </div> <!-- / .row -->
                      <!-- Text -->
                      <p class="mb-5 mb-md-7">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus similique perferendis numquam voluptatem fugit sequi tenetur ad inventore ducimus aut commodi.
                      </p>
                      <!-- Footer -->
                      <footer class="blockquote-footer">
                        <span class="h6 text-uppercase">Edouard</span>
                      </footer>
                    </blockquote>
                  </div>
                </div>
                <div class="w-100">
                  <!-- Body -->
                  <div class="card-body">
                    <blockquote class="blockquote text-center mb-0">
                      <!-- Brand -->
                      <div class="row justify-content-center mb-5 mb-md-7">
                        <div class="col-6 col-sm-4 col-md-7 col-lg-5">
                          <!-- Logo -->
                          <div class="img-fluid svg-shim" style="color: #3F5D87;">
                            <%= link_to root_path, class: "navbar-brand" do %>
                            <%= image_tag "avatar-3.jpg", class: "rounded-circle" %>
                            <% end %>
                          </div>
                        </div>
                      </div> <!-- / .row -->
                      <!-- Text -->
                      <p class="mb-5 mb-md-7">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus similique perferendis numquam voluptatem fugit sequi tenetur ad inventore ducimus aut commodi.
                      </p>
                      <!-- Footer -->
                      <footer class="blockquote-footer">
                        <span class="h6 text-uppercase">Fabiola</span>
                      </footer>
                    </blockquote>
                  </div>
                </div>
              </div>
            </div>
          </div> <!-- / .row -->
        </div>
      </div>
    </div> <!-- / .row -->
  </div> <!-- / .container -->
</section>

<!-- JavaScript -->
<script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>
<script src="https://unpkg.com/flickity-fade@1/flickity-fade.js"></script>
<link rel="stylesheet" href="https://unpkg.com/flickity-fade@1/flickity-fade.css">
<link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">
<script src="https://unpkg.com/jarallax@1/dist/jarallax.min.js"></script>
