<div class="">
  <div class="banner jarallax" data-jarallax data-speed=".8" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= cl_image_path @tour.images[0].key %>);">

      <% if @tour.user.photo.attached? %>
            <%= cl_image_tag "#{@tour.user.photo.key}", crop: :fill %>
      <% else %>
             <%= image_tag @tour.user.gender == "homme" ? "avatar_homme.jpg" : "avatar_femme.jpg", crop: :fill %>
      <% end %>
      <h2><%= @tour.name %></h2>
      <p><%= @tour.city %></p>
      <p><%= @tour.country %></p>


  <div id="triangle"></div>
  </div>
  <div class="tab-container">
    <ul class="list-inline tabs">
      <li>
        <p class="tab">Date</p>
        <p class="infos"><%= @tour.date.strftime('%x') %></p>
      </li>
      <li>
        <p class="tab">Heure</p>
        <p class="infos"><%= @tour.time.strftime("%H:%M") %></p>
      </li>
      <li>
        <p class="tab">Durée</p>
        <p class="infos"><%= @tour.duration %>min</p>
      </li>
      <li>
        <p class="tab">Langue</p>
        <p class="infos"><%= @tour.language %></p>
      </li>
      <li>
        <p class="tab">Capacité</p>
        <p class="infos"><%= @tour.capacity %>prs</p>
      </li>
    </ul>
    <div class="body-container" data-aos="fade-up" data-aos-delay="100">
      <div class="presentation">
        <h5>Présentation</h5>
        <h3>Description détaillée par votre guide <strong> <%= @tour.user.first_name %> </strong></h3>
        <p><%= @tour.description %></p>
        <div class="price">
          <p><%= @tour.price %>€</p>
          <p id="category"><%= @tour.category %></p>
        </div>
      </div>
      <div class="slider">
        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
            <% @tour.images.each do |image| %>
              <% if image == @tour.images.first %>
                <div class="carousel-item active">
              <% else %>
                <div class="carousel-item">
              <% end %>
                <%= cl_image_tag image.key, class: "d-block w-100" %>
              </div>
            <% end %>
          </div>
          <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="bouton">
    <%= link_to "Réserver la visite", tour_bookings_path(@tour), method: :post, class: "btn btn-flat" %>
  </div>
  <div id="triangle0"></div>
  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url(<%= cl_image_path @tour.images.last.key %>);">
  <div id="triangle2"></div>
  </div>
  <div class="tab-container">
    <div class="calendrier">
      <h5>Calendrier</h5>
      <h3>La vraie aventure commence <strong>maintenant</strong>.</h3>
      <p>Consulter les prochains lives de <%= @tour.user.first_name %>.</p>
    </div>
  </div>

    <div class="container-calendrier">
      <ul class="card-wrap">
        <% Tour.where(user_id: @tour.user_id).each do |tour|%>
        <%= link_to tour_path(tour) do %>
          <li class="card" data-aos="fade-up">
            <%= cl_image_tag tour.images[0].key %>
            <div id="triangle3"></div>
            <div class="card-info">
              <h5><%= tour.name %></h5>
              <p>Date <%= tour.date.strftime("%d %B") %></p>
              <p>Heure <%= tour.time.strftime("%I:%M %p") %></p>
              <p>Durée de la visite <%= tour.duration %>min</p>
            </div>
          </li>
        <% end %>
        <% end %>
      </ul>
  </div>
</div>

<!-- TESTIMONIALS
================================================== -->
<section class="pt-10 pt-md-12">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-md-10 col-lg-8 text-center">

        <!-- Heading -->
        <h2>Nos voyageurs en parlent</h2>
        <!-- Text -->
        <p class="font-size-lg text-muted mb-7 mb-md-9">
          Ne nous croyez pas sur parole. Nos voyageurs sont ceux qui en parlent le mieux.
        </p>

      </div>
    </div> <!-- / .row -->
    <div class="row" data-aos="fade-up" data-aos-delay="100">
      <div class="col-12">

        <!-- Card -->
        <div class="card-testimonial card-row shadow mb-5">
          <!-- card card-row shadow-light-lg mb-6 -->
          <div class="row no-gutters">
            <div class="col-12 col-md-6">

              <!-- Slider -->
              <div class="card-img-slider" data-flickity='{"fade": true, "imagesLoaded": true, "pageDots": false, "prevNextButtons": false, "asNavFor": "#blogSlider", "draggable": false}'>
                <a class="card-img-left bg-cover" style="background-image: url(<%= asset_path('photo-1.jpg') %>);" href="#!">

                  <!-- Image (placeholder) -->
                  <%= link_to root_path, class: "img-fluid d-md-none invisible" do %>
                    <%= image_tag "photo-1.jpg" %>
                  <% end %>

                </a>
                <a class="card-img-left bg-cover" style="background-image: url(<%= asset_path('photo-26.jpg') %>);">

                  <!-- Image (placeholder) -->
                  <%= link_to root_path, class: "img-fluid d-md-none invisible" do %>
                    <%= image_tag "photo-26.jpg" %>
                  <% end %>

                </a>
              </div>

              <!-- Shape -->
              <div class="shape shape-right shape-fluid-y svg-shim text-white d-none d-md-block">
                @@include("assets/img/shapes/curves/curve-4.svg")
              </div>

            </div>
            <div class="col-12 col-md-6 position-md-static">

              <!-- Slider -->
              <div class="position-md-static" data-flickity='{"wrapAround": true, "pageDots": false, "adaptiveHeight": true}' id="testimonialSlider">
                <div class="w-100">

                  <!-- Body -->
                  <div class="card-body">
                    <blockquote class="blockquote text-center mb-0">

                      <!-- Brand -->
                      <div class="row justify-content-center mb-5 mb-md-7">
                        <div class="col-6 col-sm-4 col-md-7 col-lg-5">

                          <!-- Logo -->
                          <div class="img-fluid svg-shim" style="color: #FF5A5F;">
                            <!-- @@include("../app/assets/images/Voyages.jpg") -->
                            <%= link_to root_path, class: "navbar-brand" do %>
                            <%= image_tag "travelive_logo.png" %>
                            <% end %>
                          </div>

                        </div>
                      </div> <!-- / .row -->

                      <!-- Text -->
                      <p class="mb-5 mb-md-7">
                        “Lorem ipsum”
                      </p>

                      <!-- Footer -->
                      <footer class="blockquote-footer">
                        <span class="h6 text-uppercase">Fabiola</span>
                      </footer>

                    </blockquote>
                  </div>

                </div>
                <div class="w-100">

                  <!-- Body -->
                  <div class="card-body">
                    <blockquote class="blockquote text-center mb-0">

                      <!-- Brand -->
                      <div class="row justify-content-center mb-5 mb-md-7">
                        <div class="col-6 col-sm-4 col-md-7 col-lg-5">

                          <!-- Logo -->
                          <div class="img-fluid svg-shim" style="color: #3F5D87;">
                            <%= link_to root_path, class: "navbar-brand" do %>
                            <%= image_tag "travelive_logo.png" %>
                            <% end %>
                          </div>

                        </div>
                      </div> <!-- / .row -->

                      <!-- Text -->
                      <p class="mb-5 mb-md-7">
                        “Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus similique perferendis numquam voluptatem fugit sequi tenetur ad inventore ducimus aut commodi, nam ratione reprehenderit facere modi asperiores. Explicabo, eos, odit?”
                      </p>

                      <!-- Footer -->
                      <footer class="blockquote-footer">
                        <span class="h6 text-uppercase">Edouard</span>
                      </footer>

                    </blockquote>
                  </div>

                </div>
              </div>

            </div>
          </div> <!-- / .row -->
        </div>

      </div>
    </div> <!-- / .row -->
  </div> <!-- / .container -->
</section>

<!-- JavaScript -->
<!-- <script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.js"></script> -->
<!-- <link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.css"> -->
<script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>
<script src="https://unpkg.com/flickity-fade@1/flickity-fade.js"></script>
<link rel="stylesheet" href="https://unpkg.com/flickity-fade@1/flickity-fade.css">
<link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">

<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
<script src="https://unpkg.com/jarallax@1/dist/jarallax.min.js"></script>
