
<div class="">
  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= cl_image_path @tour.images.key %>);">
    <div class="container">
      <h2><%= @tour.name %></h2>
      <p><%= @tour.city %></p>
      <p><%= @tour.country %></p>
    </div>
  </div>
  <div class="container">
    <ul class="list-inline tabs">
      <li>
        <p class="tab">Date</p>
        <p><%= @tour.date %></p>
      </li>
      <li>
        <p class="tab">Time</p>
        <p><%= @tour.time %></p>
      </li>
      <li>
        <p class="tab">Duration</p>
        <p> Duration <%= @tour.duration %></p>
      </li>
      <li>
        <p class="tab">Language</p>
        <p><%= @tour.language %></p>
      </li>
      <li>
        <p class="tab">Capacity</p>
        <p><%= @tour.capacity %></p>
      </li>
    </ul>
    <p><%= @tour.description %></p>
    <p><%= @tour.price %></p>
    <p><%= @tour.category %></p>
    
     <% @tour.images.each do |image| %>
  <%= cl_image_tag image.key %>
  <% end %>
  </div>

</div>

