
<div class="container">
  <h2><%= @tour.name %></h2>
  <p><%= @tour.city %></p>
  <p><%= @tour.country %></p>
  <p><%= @tour.capacity %></p>
  <p><%= @tour.date %></p>
  <p><%= @tour.time %></p>
  <p><%= @tour.duration %></p>
  <p><%= @tour.description %></p>
  <p><%= @tour.language %></p>
  <p><%= @tour.category %></p>
  <p><%= @tour.price %></p>
  <% @tour.images.each do |image| %>
  <%= cl_image_tag image.key %>
  <% end %>
</div>

