

<div class="">
  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= cl_image_path @tour.images[0].key %>);">

      <h2><%= @tour.name %></h2>
      <p><%= @tour.city %></p>
      <p><%= @tour.country %></p>

      <% if @tour.user.photo.attached? %>
            <%= cl_image_tag "#{@tour.user.photo.key}", crop: :fill %>
      <% else %>
             <%= image_tag @tour.user.gender == "Homme" ? "avatar_homme.jpg" : "avatar_femme.jpg", crop: :fill %>
      <% end %>
  <div id="triangle"></div>
  </div>
  <div class="tab-container">
    <ul class="list-inline tabs">
      <li>
        <p class="tab">Date</p>
        <p class="infos"><%= @tour.date.strftime("%d %B") %></p>
      </li>
      <li>
        <p class="tab">Heure</p>
        <p class="infos"><%= @tour.time.strftime("%I:%M %p") %></p>
      </li>
      <li>
        <p class="tab">Durée</p>
        <p class="infos"><%= @tour.duration %>min</p>
      </li>
      <li>
        <p class="tab">Langage</p>
        <p class="infos"><%= @tour.language %></p>
      </li>
      <li>
        <p class="tab">Capacité</p>
        <p class="infos"><%= @tour.capacity %>prs</p>
      </li>
    </ul>
    <div class="body-container">
      <div class="presentation">
        <h3>Description détaillée de votre guide <strong> <%= @tour.user.first_name %> </strong></h3>
        <p><%= @tour.description %></p>
        <div class="price">
          <p><%= @tour.price %>€</p>
          <p id="category"><%= @tour.category %></p>
        </div>
      </div>
      <div class="slider">
        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
            <% @tour.images.each do |image| %>
              <% if image == @tour.images.first %>
                <div class="carousel-item active">
              <% else %>
                <div class="carousel-item">
              <% end %>
                <%= cl_image_tag image.key, class: "d-block w-100" %>
              </div>
            <% end %>
          </div>
          <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>

    </div>
  </div>

</div>
