<div class="">
  <div class="banner jarallax" data-jarallax data-speed=".8" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= cl_image_path @tour.images[0].key %>);">

      <% if @tour.user.photo.attached? %>
            <%= cl_image_tag "#{@tour.user.photo.key}", crop: :fill %>
      <% else %>
             <%= image_tag @tour.user.gender == "homme" ? "avatar_homme.jpg" : "avatar_femme.jpg", crop: :fill %>
      <% end %>
      <h2><%= @tour.name %></h2>

 <p>
  <% if @tour.country.upcase == "ISLANDE" %>
  <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
    width="48" height="48"
    viewBox="0 0 172 172"
    style=" fill:#000000;"><g transform="translate(0.516,0.516) scale(0.994,0.994)"><g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="none" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><g stroke="#cccccc" stroke-linejoin="round"><path d="M7.16667,32.25h157.66667v107.5h-157.66667z" fill="#3f51b5"></path><path d="M7.16667,71.66667h157.66667v28.66667h-157.66667z" fill="#eceff1"></path><path d="M53.75,32.25h28.66667v107.5h-28.66667z" fill="#eceff1"></path><g fill="#ff3d00"><path d="M60.91667,32.25h14.33333v107.5h-14.33333z"></path><path d="M7.16667,78.83333h157.66667v14.33333h-157.66667z"></path></g></g><path d="M0,172v-172h172v172z" fill="none" stroke="none" stroke-linejoin="miter"></path><g stroke="none" stroke-linejoin="miter"><path d="M7.16667,32.25h157.66667v107.5h-157.66667z" fill="#3f51b5"></path><path d="M7.16667,71.66667h157.66667v28.66667h-157.66667z" fill="#eceff1"></path><path d="M53.75,32.25h28.66667v107.5h-28.66667z" fill="#eceff1"></path><g fill="#ff3d00"><path d="M60.91667,32.25h14.33333v107.5h-14.33333z"></path><path d="M7.16667,78.83333h157.66667v14.33333h-157.66667z"></path></g></g><path d="" fill="none" stroke="none" stroke-linejoin="miter"></path><path d="" fill="none" stroke="none" stroke-linejoin="miter"></path></g></g></svg>
     <% else %>
      <% end %>
       <% if @tour.country.upcase == "ANGLETERRE" %>
       <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
      width="48" height="48"
      viewBox="0 0 172 172"
      style=" fill:#000000;"><g transform="translate(0.43,0.43) scale(0.995,0.995)"><g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="none" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><g stroke="#cccccc" stroke-linejoin="round"><path d="M7.16667,32.25h157.66667v107.5h-157.66667z" fill="#eceff1"></path><path d="M7.16667,75.25h157.66667v21.5h-157.66667z" fill="#e53935"></path><path d="M75.25,32.25h21.5v107.5h-21.5z" fill="#e53935"></path></g><path d="M0,172v-172h172v172z" fill="none" stroke="none" stroke-linejoin="miter"></path><g stroke="none" stroke-linejoin="miter"><path d="M7.16667,32.25h157.66667v107.5h-157.66667z" fill="#eceff1"></path><path d="M7.16667,75.25h157.66667v21.5h-157.66667z" fill="#e53935"></path><path d="M75.25,32.25h21.5v107.5h-21.5z" fill="#e53935"></path></g><path d="" fill="none" stroke="none" stroke-linejoin="miter"></path></g></g></svg>
        <% else %>
      <% end %>

      <% if @tour.country.upcase == "EGYPTE" %>
      <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
      width="48" height="48"
      viewBox="0 0 172 172"
      style=" fill:#000000;"><g transform="translate(0.516,0.516) scale(0.994,0.994)"><g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="none" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><g stroke="#cccccc" stroke-linejoin="round"><path d="M7.16667,103.91667h157.66667v35.83333h-157.66667z" fill="#424242"></path><path d="M7.16667,68.08333h157.66667v35.83333h-157.66667z" fill="#eceff1"></path><path d="M7.16667,32.25h157.66667v35.83333h-157.66667z" fill="#ff3d00"></path><path d="M100.33333,96.75c0,1.98158 -1.60175,3.58333 -3.58333,3.58333l-10.75,-7.16667l-10.75,7.16667c-1.98158,0 -3.58333,-1.60175 -3.58333,-3.58333v-14.33333c0,-1.98158 1.60175,-3.58333 3.58333,-3.58333h21.5c1.98158,0 3.58333,1.60175 3.58333,3.58333z" fill="#ffb300"></path><path d="M89.58333,82.41667c0,1.98158 -1.60175,3.58333 -3.58333,3.58333c-1.98158,0 -3.58333,-1.60175 -3.58333,-3.58333v-7.16667c0,-1.98158 1.60175,-3.58333 3.58333,-3.58333c1.98158,0 3.58333,1.60175 3.58333,3.58333zM86,93.16667l3.58333,7.16667h-7.16667z" fill="#ffb300"></path></g><path d="M0,172v-172h172v172z" fill="none" stroke="none" stroke-linejoin="miter"></path><g stroke="none" stroke-linejoin="miter"><path d="M7.16667,103.91667h157.66667v35.83333h-157.66667z" fill="#424242"></path><path d="M7.16667,68.08333h157.66667v35.83333h-157.66667z" fill="#eceff1"></path><path d="M7.16667,32.25h157.66667v35.83333h-157.66667z" fill="#ff3d00"></path><path d="M100.33333,96.75c0,1.98158 -1.60175,3.58333 -3.58333,3.58333l-10.75,-7.16667l-10.75,7.16667c-1.98158,0 -3.58333,-1.60175 -3.58333,-3.58333v-14.33333c0,-1.98158 1.60175,-3.58333 3.58333,-3.58333h21.5c1.98158,0 3.58333,1.60175 3.58333,3.58333z" fill="#ffb300"></path><path d="M89.58333,82.41667c0,1.98158 -1.60175,3.58333 -3.58333,3.58333v0c-1.98158,0 -3.58333,-1.60175 -3.58333,-3.58333v-7.16667c0,-1.98158 1.60175,-3.58333 3.58333,-3.58333v0c1.98158,0 3.58333,1.60175 3.58333,3.58333zM82.41667,100.33333h7.16667l-3.58333,-7.16667z" fill="#ffb300"></path></g><path d="" fill="none" stroke="none" stroke-linejoin="miter"></path></g></g></svg> <% else %>
      <% end %>
      <% if @tour.country.upcase == "USA" %>
      <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
        width="48" height="48"
        viewBox="0 0 172 172"
        style=" fill:#000000;"><g transform="translate(0.516,0.516) scale(0.994,0.994)"><g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="none" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><g stroke="#cccccc" stroke-linejoin="round"><path d="M7.1595,35.83333h157.66667v96.75h-157.66667z" fill="#eceff1"></path><path d="M7.16667,35.83333h157.66667v10.75h-157.66667zM7.16667,57.33333h157.66667v10.75h-157.66667zM7.16667,78.83333h157.66667v10.75h-157.66667zM7.16667,100.33333h157.66667v10.75h-157.66667zM7.16667,121.83333h157.66667v10.75h-157.66667z" fill="#f44336"></path><path d="M7.16667,35.83333h75.25v53.75h-75.25z" fill="#3f51b5"></path><g fill="#ffffff"><path d="M15.22917,43l1.65908,3.54033l3.71592,0.56617l-2.6875,2.75917l0.63783,3.88433l-3.32533,-1.83467l-3.32533,1.83467l0.63783,-3.88433l-2.6875,-2.75917l3.71592,-0.56617zM29.5625,43l1.65908,3.54033l3.71592,0.56617l-2.6875,2.75917l0.63783,3.88433l-3.32533,-1.83467l-3.32533,1.83467l0.63783,-3.88433l-2.6875,-2.75917l3.71592,-0.56617zM43.89583,43l1.65908,3.54033l3.71592,0.56617l-2.6875,2.75917l0.63783,3.88433l-3.32533,-1.83467l-3.32533,1.83467l0.63783,-3.88433l-2.6875,-2.75917l3.71592,-0.56617zM58.22917,43l1.65908,3.54033l3.71592,0.56617l-2.6875,2.75917l0.63783,3.88433l-3.32533,-1.83467l-3.32533,1.83467l0.63783,-3.88433l-2.6875,-2.75917l3.71592,-0.56617zM71.66667,43l1.65908,3.54033l3.71592,0.56617l-2.6875,2.75917l0.63783,3.88433l-3.32533,-1.83467l-3.32533,1.83467l0.63783,-3.88433l-2.6875,-2.75917l3.71592,-0.56617zM15.22917,71.66667l1.65908,3.54033l3.71592,0.56617l-2.6875,2.75917l0.63783,3.88433l-3.32533,-1.83467l-3.32533,1.83467l0.63783,-3.88433l-2.6875,-2.75917l3.71592,-0.56617zM29.5625,71.66667l1.65908,3.54033l3.71592,0.56617l-2.6875,2.75917l0.63783,3.88433l-3.32533,-1.83467l-3.32533,1.83467l0.63783,-3.88433l-2.6875,-2.75917l3.71592,-0.56617zM43.89583,71.66667l1.65908,3.54033l3.71592,0.56617l-2.6875,2.75917l0.63783,3.88433l-3.32533,-1.83467l-3.32533,1.83467l0.63783,-3.88433l-2.6875,-2.75917l3.71592,-0.56617zM58.22917,71.66667l1.65908,3.54033l3.71592,0.56617l-2.6875,2.75917l0.63783,3.88433l-3.32533,-1.83467l-3.32533,1.83467l0.63783,-3.88433l-2.6875,-2.75917l3.71592,-0.56617zM71.66667,71.66667l1.65908,3.54033l3.71592,0.56617l-2.6875,2.75917l0.63783,3.88433l-3.32533,-1.83467l-3.32533,1.83467l0.63783,-3.88433l-2.6875,-2.75917l3.71592,-0.56617zM18.8125,57.33333l1.65908,3.54033l3.71592,0.56617l-2.6875,2.75917l0.63783,3.88433l-3.32533,-1.83467l-3.32533,1.83467l0.63783,-3.88433l-2.6875,-2.75917l3.71592,-0.56617zM33.14583,57.33333l1.65908,3.54033l3.71592,0.56617l-2.6875,2.75917l0.63783,3.88433l-3.32533,-1.83467l-3.32533,1.83467l0.63783,-3.88433l-2.6875,-2.75917l3.71592,-0.56617zM47.47917,57.33333l1.65908,3.54033l3.71592,0.56617l-2.6875,2.75917l0.63783,3.88433l-3.32533,-1.83467l-3.32533,1.83467l0.63783,-3.88433l-2.6875,-2.75917l3.71592,-0.56617zM61.8125,57.33333l1.65908,3.54033l3.71592,0.56617l-2.6875,2.75917l0.63783,3.88433l-3.32533,-1.83467l-3.32533,1.83467l0.63783,-3.88433l-2.6875,-2.75917l3.71592,-0.56617zM75.25,57.33333l1.65908,3.54033l3.71592,0.56617l-2.6875,2.75917l0.63783,3.88433l-3.32533,-1.83467l-3.32533,1.83467l0.63783,-3.88433l-2.6875,-2.75917l3.71592,-0.56617z"></path></g></g><path d="M0,172v-172h172v172z" fill="none" stroke="none" stroke-linejoin="miter"></path><g stroke="none" stroke-linejoin="miter"><path d="M7.1595,35.83333h157.66667v96.75h-157.66667z" fill="#eceff1"></path><path d="M7.16667,35.83333h157.66667v10.75h-157.66667zM7.16667,57.33333h157.66667v10.75h-157.66667zM7.16667,78.83333h157.66667v10.75h-157.66667zM7.16667,100.33333h157.66667v10.75h-157.66667zM7.16667,121.83333h157.66667v10.75h-157.66667z" fill="#f44336"></path><path d="M7.16667,35.83333h75.25v53.75h-75.25z" fill="#3f51b5"></path><g fill="#ffffff"><path d="M15.22917,43l1.65908,3.54033l3.71592,0.56617l-2.6875,2.75917l0.63783,3.88433l-3.32533,-1.83467l-3.32533,1.83467l0.63783,-3.88433l-2.6875,-2.75917l3.71592,-0.56617zM29.5625,43l1.65908,3.54033l3.71592,0.56617l-2.6875,2.75917l0.63783,3.88433l-3.32533,-1.83467l-3.32533,1.83467l0.63783,-3.88433l-2.6875,-2.75917l3.71592,-0.56617zM43.89583,43l1.65908,3.54033l3.71592,0.56617l-2.6875,2.75917l0.63783,3.88433l-3.32533,-1.83467l-3.32533,1.83467l0.63783,-3.88433l-2.6875,-2.75917l3.71592,-0.56617zM58.22917,43l1.65908,3.54033l3.71592,0.56617l-2.6875,2.75917l0.63783,3.88433l-3.32533,-1.83467l-3.32533,1.83467l0.63783,-3.88433l-2.6875,-2.75917l3.71592,-0.56617zM71.66667,43l1.65908,3.54033l3.71592,0.56617l-2.6875,2.75917l0.63783,3.88433l-3.32533,-1.83467l-3.32533,1.83467l0.63783,-3.88433l-2.6875,-2.75917l3.71592,-0.56617zM15.22917,71.66667l1.65908,3.54033l3.71592,0.56617l-2.6875,2.75917l0.63783,3.88433l-3.32533,-1.83467l-3.32533,1.83467l0.63783,-3.88433l-2.6875,-2.75917l3.71592,-0.56617zM29.5625,71.66667l1.65908,3.54033l3.71592,0.56617l-2.6875,2.75917l0.63783,3.88433l-3.32533,-1.83467l-3.32533,1.83467l0.63783,-3.88433l-2.6875,-2.75917l3.71592,-0.56617zM43.89583,71.66667l1.65908,3.54033l3.71592,0.56617l-2.6875,2.75917l0.63783,3.88433l-3.32533,-1.83467l-3.32533,1.83467l0.63783,-3.88433l-2.6875,-2.75917l3.71592,-0.56617zM58.22917,71.66667l1.65908,3.54033l3.71592,0.56617l-2.6875,2.75917l0.63783,3.88433l-3.32533,-1.83467l-3.32533,1.83467l0.63783,-3.88433l-2.6875,-2.75917l3.71592,-0.56617zM71.66667,71.66667l1.65908,3.54033l3.71592,0.56617l-2.6875,2.75917l0.63783,3.88433l-3.32533,-1.83467l-3.32533,1.83467l0.63783,-3.88433l-2.6875,-2.75917l3.71592,-0.56617zM18.8125,57.33333l1.65908,3.54033l3.71592,0.56617l-2.6875,2.75917l0.63783,3.88433l-3.32533,-1.83467l-3.32533,1.83467l0.63783,-3.88433l-2.6875,-2.75917l3.71592,-0.56617zM33.14583,57.33333l1.65908,3.54033l3.71592,0.56617l-2.6875,2.75917l0.63783,3.88433l-3.32533,-1.83467l-3.32533,1.83467l0.63783,-3.88433l-2.6875,-2.75917l3.71592,-0.56617zM47.47917,57.33333l1.65908,3.54033l3.71592,0.56617l-2.6875,2.75917l0.63783,3.88433l-3.32533,-1.83467l-3.32533,1.83467l0.63783,-3.88433l-2.6875,-2.75917l3.71592,-0.56617zM61.8125,57.33333l1.65908,3.54033l3.71592,0.56617l-2.6875,2.75917l0.63783,3.88433l-3.32533,-1.83467l-3.32533,1.83467l0.63783,-3.88433l-2.6875,-2.75917l3.71592,-0.56617zM75.25,57.33333l1.65908,3.54033l3.71592,0.56617l-2.6875,2.75917l0.63783,3.88433l-3.32533,-1.83467l-3.32533,1.83467l0.63783,-3.88433l-2.6875,-2.75917l3.71592,-0.56617z"></path></g></g><path d="" fill="none" stroke="none" stroke-linejoin="miter"></path><path d="" fill="none" stroke="none" stroke-linejoin="miter"></path></g></g></svg>
            <% else %>
      <% end %>
      <% if @tour.country.upcase == "AFRIQUE DU SUD" %>
      <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
      width="48" height="48"
      viewBox="0 0 172 172"
      style=" fill:#000000;"><g transform="translate(0.516,0.516) scale(0.994,0.994)"><g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="none" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><g stroke="#cccccc" stroke-linejoin="round"><path d="M7.16667,139.75v-107.5h157.66667v107.5z" fill="#e53935"></path><path d="M7.16667,139.75v-107.5h157.66667v107.5z" fill="#e53935"></path><path d="M7.16667,139.75v-53.75h157.66667v53.75z" fill="#283593"></path><path d="M164.83333,103.91667h-80.02658l-47.78017,35.83333h-29.85992v-22.39583l41.80675,-31.35417l-41.80675,-31.35417v-22.39583h29.85992l47.78017,35.83333h80.02658z" fill="#ffffff"></path><path d="M164.83333,96.75h-82.41667l-57.33333,43h-17.91667v-13.4375l53.75,-40.3125l-53.75,-40.3125v-13.4375h17.91667l57.33333,43h82.41667z" fill="#2e7d32"></path><path d="M60.91667,86l-53.75,40.3125v-8.95833l41.80675,-31.35417l-41.80675,-31.35417v-8.95833z" fill="#ffc107"></path><path d="M7.16667,54.64583l41.80675,31.35417l-41.80675,31.35417z" fill="#263238"></path></g><path d="M0,172v-172h172v172z" fill="none" stroke="none" stroke-linejoin="miter"></path><g stroke="none" stroke-linejoin="miter"><path d="M164.83333,139.75v-107.5h-157.66667v107.5z" fill="#e53935"></path><path d="M164.83333,139.75v-107.5h-157.66667v107.5z" fill="#e53935"></path><path d="M164.83333,139.75v-53.75h-157.66667v53.75z" fill="#283593"></path><path d="M164.83333,68.08333h-80.02658l-47.78017,-35.83333h-29.85992v22.39583l41.80675,31.35417l-41.80675,31.35417v22.39583h29.85992l47.78017,-35.83333h80.02658z" fill="#ffffff"></path><path d="M164.83333,75.25h-82.41667l-57.33333,-43h-17.91667v13.4375l53.75,40.3125l-53.75,40.3125v13.4375h17.91667l57.33333,-43h82.41667z" fill="#2e7d32"></path><path d="M7.16667,45.6875v8.95833l41.80675,31.35417l-41.80675,31.35417v8.95833l53.75,-40.3125z" fill="#ffc107"></path><path d="M7.16667,117.35417l41.80675,-31.35417l-41.80675,-31.35417z" fill="#263238"></path></g><path d="" fill="none" stroke="none" stroke-linejoin="miter"></path></g></g></svg>
     <% else %>
      <% end %>
      <% if @tour.country.upcase == "PEROU" %>
      <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
        width="48" height="48"
        viewBox="0 0 172 172"
        style=" fill:#000000;"><g transform="translate(0.43,0.43) scale(0.995,0.995)"><g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="none" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><g stroke="#cccccc" stroke-linejoin="round"><path d="M7.16667,32.25h157.66667v107.5h-157.66667z" fill="#eceff1"></path><path d="M114.66667,32.25h50.16667v107.5h-50.16667zM7.16667,32.25h50.16667v107.5h-50.16667z" fill="#ff3d00"></path></g><path d="M0,172v-172h172v172z" fill="none" stroke="none" stroke-linejoin="miter"></path><g stroke="none" stroke-linejoin="miter"><path d="M7.16667,32.25h157.66667v107.5h-157.66667z" fill="#eceff1"></path><path d="M114.66667,32.25h50.16667v107.5h-50.16667zM7.16667,32.25h50.16667v107.5h-50.16667z" fill="#ff3d00"></path></g><path d="" fill="none" stroke="none" stroke-linejoin="miter"></path></g></g></svg>
        <% else %>
      <% end %>
      <% if @tour.country.upcase == "ESPAGNE" %>
      <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
        width="48" height="48"
        viewBox="0 0 172 172"
        style=" fill:#000000;"><g transform="translate(0.516,0.516) scale(0.994,0.994)"><g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="none" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><g stroke="#cccccc" stroke-linejoin="round"><path d="M7.16667,32.25h157.66667v107.5h-157.66667z" fill="#dd2c00"></path><path d="M7.16667,60.91667h157.66667v50.16667h-157.66667z" fill="#ffc107"></path></g><path d="M0,172v-172h172v172z" fill="none" stroke="none" stroke-linejoin="miter"></path><g stroke="none" stroke-linejoin="miter"><path d="M7.16667,32.25h157.66667v107.5h-157.66667z" fill="#dd2c00"></path><path d="M7.16667,60.91667h157.66667v50.16667h-157.66667z" fill="#ffc107"></path></g><path d="" fill="none" stroke="none" stroke-linejoin="miter"></path></g></g></svg>
       <% else %>
      <% end %>
      <% if @tour.country.upcase == "FRANCE" %>
      <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
      width="48" height="48"
      viewBox="0 0 172 172"
      style=" fill:#000000;"><g transform="translate(0.516,0.516) scale(0.994,0.994)"><g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="none" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><g stroke="#cccccc" stroke-linejoin="round"><path d="M57.33333,32.25h57.33333v107.5h-57.33333z" fill="#eceff1"></path><path d="M114.66667,32.25h50.16667v107.5h-50.16667z" fill="#ff3d00"></path><path d="M7.16667,32.25h50.16667v107.5h-50.16667z" fill="#3f51b5"></path></g><path d="M0,172v-172h172v172z" fill="none" stroke="none" stroke-linejoin="miter"></path><g stroke="none" stroke-linejoin="miter"><path d="M57.33333,32.25h57.33333v107.5h-57.33333z" fill="#eceff1"></path><path d="M114.66667,32.25h50.16667v107.5h-50.16667z" fill="#ff3d00"></path><path d="M7.16667,32.25h50.16667v107.5h-50.16667z" fill="#3f51b5"></path></g><path d="" fill="none" stroke="none" stroke-linejoin="miter"></path></g></g></svg>
      <% else %>
      <% end %>
        <% if @tour.country.upcase == "JAPON" %>
        <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
width="48" height="48"
viewBox="0 0 172 172"
style=" fill:#000000;"><g transform="translate(0.43,0.43) scale(0.995,0.995)"><g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="none" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><g stroke="#cccccc" stroke-linejoin="round"><path d="M7.16667,32.25h157.66667v107.5h-157.66667z" fill="#eceff1"></path><path d="M118.25,86c0,17.81118 -14.43882,32.25 -32.25,32.25c-17.81118,0 -32.25,-14.43882 -32.25,-32.25c0,-17.81118 14.43882,-32.25 32.25,-32.25c17.81118,0 32.25,14.43882 32.25,32.25z" fill="#d50000"></path></g><path d="M0,172v-172h172v172z" fill="none" stroke="none" stroke-linejoin="miter"></path><g stroke="none" stroke-linejoin="miter"><path d="M7.16667,32.25h157.66667v107.5h-157.66667z" fill="#eceff1"></path><path d="M86,53.75c-17.81118,0 -32.25,14.43882 -32.25,32.25c0,17.81118 14.43882,32.25 32.25,32.25c17.81118,0 32.25,-14.43882 32.25,-32.25c0,-17.81118 -14.43882,-32.25 -32.25,-32.25z" fill="#d50000"></path></g><path d="" fill="none" stroke="none" stroke-linejoin="miter"></path></g></g></svg>
       <% else %>
      <% end %>
       <% if @tour.country.upcase == "ARGENTINE" %>
       <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
width="48" height="48"
viewBox="0 0 172 172"
style=" fill:#000000;"><g transform="translate(0.516,0.516) scale(0.994,0.994)"><g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="none" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><g stroke="#cccccc" stroke-linejoin="round"><path d="M1.075,61.275h169.85v49.45h-169.85z" fill="#f2faff"></path><path d="M169.85,62.35h-167.7v47.3h167.7v-47.3M172,60.2v51.6h-172v-51.6z" fill="#a3b7cc"></path><path d="M1.075,22.575h169.85v40.85h-169.85z" fill="#8bb7f0"></path><path d="M169.85,23.65h-167.7v38.7h167.7v-38.7M172,21.5v43h-172v-43z" fill="#4e7ab5"></path><g><path d="M1.075,108.575h169.85v40.85h-169.85z" fill="#8bb7f0"></path><path d="M169.85,109.65h-167.7v38.7h167.7v-38.7M172,107.5v43h-172v-43z" fill="#4e7ab5"></path></g><g><path d="M84.8519,91.69105l-1.13305,-0.35905l-0.9073,-0.4988l-0.86,-0.67295l-0.7267,-0.8729l-0.56115,-1.00405l-0.34185,-1.09865l-0.11825,-1.13305l0.1032,-1.17175l0.34615,-1.1395l0.5461,-0.9933l0.6837,-0.83205l0.90945,-0.75895l0.97395,-0.4988l1.0148,-0.3311l1.16745,-0.12255l1.0578,0.0903l1.15455,0.3096l0.99975,0.53535l0.89225,0.7009l0.7697,0.92235l0.54825,1.0406l0.31175,1.0535l0.1161,1.0965l-0.0989,1.118l-0.3182,1.1051l-0.4859,0.92235l-0.6923,0.903l-0.93095,0.79765l-1.0449,0.5547l-1.15455,0.35905l-1.2298,0.06665z" fill="#f5c276"></path><path d="M90.67625,70.99085M85.99355,81.2872l-0.39345,0.0387l-0.4773,0.04085l-0.44075,0.129l-0.49235,0.1548l-0.34615,0.1806l-0.4171,0.21715l-0.3698,0.29885l-0.387,0.32465l-0.2666,0.31605l-0.3139,0.38485l-0.2107,0.3827l-0.2279,0.4343l-0.12685,0.3999l-0.1419,0.4816l-0.04515,0.4257l-0.04515,0.51815l0.0344,0.39775l0.04085,0.4773l0.129,0.44075l0.1591,0.4988l0.1763,0.33755l0.215,0.41495l0.29885,0.3698l0.32895,0.3913l0.30745,0.258l0.3956,0.32035l0.37625,0.2064l0.4386,0.2279l0.3956,0.12685l0.4816,0.1419l0.42355,0.04515l0.5246,0.04515l0.38485,-0.0344l0.48805,-0.043l0.43215,-0.12685l0.49235,-0.1548l0.35045,-0.18275l0.41495,-0.21715l0.3698,-0.29455l0.3956,-0.33325l0.2537,-0.30315l0.31605,-0.38915l0.2107,-0.38485l0.23005,-0.4429l0.1247,-0.39345l0.1419,-0.4816l0.04515,-0.4257l0.04515,-0.5246l-0.0344,-0.38485l-0.043,-0.49235l-0.12685,-0.43215l-0.1548,-0.49235l-0.1806,-0.34615l-0.2193,-0.4214l-0.2924,-0.3612l-0.3354,-0.39775l-0.30315,-0.2537l-0.3956,-0.32035l-0.37625,-0.2064l-0.4343,-0.2279l-0.3999,-0.12685l-0.4816,-0.1419l-0.42355,-0.04515l-0.51815,-0.04515M81.32375,101.00915M86,68.79785c0.21285,0 0.21285,0.3182 0.2064,0.3182l0.3784,10.062c0.04945,0.0043 0.09675,0.01075 0.1462,0.01505c0.5504,-1.5265 0.03225,-2.5628 1.02555,-4.5021c1.16315,-2.27255 0.48375,-2.924 0.7697,-4.0549c0.23435,-0.946 0.78045,-1.376 1.0578,-1.376c0.05375,0 0.09675,0.0172 0.12685,0.04945c0.1763,0.19995 -0.52245,0.4343 -0.5848,1.2857c-0.06235,0.8514 0.54395,2.3779 -0.43,4.23335c-0.79765,1.52005 -0.3913,2.96485 -0.75035,4.6053c0.04085,0.01075 0.07955,0.02365 0.11825,0.03655l4.2011,-9.1504c0,0 0.0946,-0.2279 0.2494,-0.2279c0.01935,0 0.043,0.0043 0.06665,0.01505c0.19565,0.0817 0.0731,0.37625 0.0731,0.37625l-3.5002,9.4385c0.043,0.0215 0.08385,0.04515 0.12685,0.0688c1.0922,-1.19755 1.00835,-2.3521 2.6703,-3.7668c1.9479,-1.6555 1.56735,-2.5155 2.26395,-3.4529c0.4816,-0.6536 1.0277,-0.8901 1.34375,-0.8901c0.1376,0 0.2322,0.04515 0.258,0.1204c0.086,0.24725 -0.64715,0.2021 -1.032,0.9632c-0.38485,0.7611 -0.4085,2.4037 -2.01455,3.74745c-1.32225,1.10295 -1.49855,2.5929 -2.4596,3.97105c0.0301,0.02365 0.05805,0.04945 0.08815,0.0731l7.3831,-6.8456c0,0 0.129,-0.129 0.25585,-0.129c0.04085,0 0.08385,0.01505 0.1204,0.0516c0.14835,0.1505 -0.0774,0.37625 -0.0774,0.37625l-6.8456,7.38095c0.0301,0.03655 0.06235,0.0731 0.09245,0.1118c1.46415,-0.688 1.8318,-1.78665 3.9044,-2.4553c2.4295,-0.7826 2.4123,-1.7243 3.41205,-2.322c0.4601,-0.2752 0.87505,-0.37195 1.1868,-0.37195c0.36765,0 0.5934,0.13545 0.58695,0.27735c-0.01505,0.2623 -0.6751,-0.0645 -1.32225,0.49235c-0.64715,0.55255 -1.30075,2.064 -3.29595,2.68965c-1.63615,0.5117 -2.37145,1.8189 -3.78615,2.7262c0.01935,0.03655 0.0387,0.07095 0.05805,0.1075l9.43635,-3.5002c0,0 0.09245,-0.0387 0.18705,-0.0387c0.07525,0 0.15265,0.02365 0.1892,0.10965c0.0817,0.1935 -0.21285,0.31605 -0.21285,0.31605l-9.1504,4.19895c0.01505,0.04515 0.0301,0.0903 0.043,0.13545c1.46845,-0.06665 2.22955,-0.7955 3.9904,-0.7955c0.17415,0 0.35905,0.0086 0.5547,0.02365c0.26875,0.0215 0.5117,0.03225 0.7353,0.03225c1.89415,0 2.2747,-0.7138 3.3067,-0.8686c0.1591,-0.02365 0.3096,-0.0344 0.4472,-0.0344c0.87075,0 1.33085,0.4171 1.2341,0.6235c-0.0215,0.043 -0.0559,0.0602 -0.10105,0.0602c-0.15265,0 -0.44075,-0.1849 -0.8557,-0.1849c-0.1376,0 -0.2881,0.0215 -0.45365,0.07525c-0.75035,0.24295 -1.81245,1.2427 -3.62275,1.2427c-0.14405,0 -0.29455,-0.00645 -0.44935,-0.01935c-0.129,-0.01075 -0.2537,-0.0172 -0.37625,-0.0172c-1.5136,0 -2.63805,0.8127 -4.16885,1.08575c0.0043,0.0387 0.0086,0.07955 0.0129,0.11825l10.062,0.3784c0,0 0.31605,0 0.31605,0.21285c0,0.21285 -0.31605,0.21285 -0.31605,0.21285l-10.062,0.3784c-0.0043,0.04945 -0.01075,0.09675 -0.01505,0.1462c1.5265,0.5504 2.5628,0.03225 4.5021,1.02555c1.1997,0.6149 1.9479,0.71595 2.5542,0.71595c0.2924,0 0.55255,-0.02365 0.81485,-0.02365c0.22145,0 0.4429,0.01505 0.68585,0.0774c1.1309,0.28165 1.5265,1.0105 1.32655,1.1868c-0.0215,0.01935 -0.04515,0.02795 -0.0688,0.02795c-0.19135,0 -0.4601,-0.55685 -1.2169,-0.61275c-0.0473,-0.0043 -0.0946,-0.00645 -0.1462,-0.00645c-0.45365,0 -1.06425,0.1333 -1.79095,0.1333c-0.6751,0 -1.45125,-0.11395 -2.2962,-0.55685c-1.52005,-0.79765 -2.96485,-0.3913 -4.6053,-0.75035c-0.0129,0.04085 -0.02365,0.07955 -0.03655,0.11825l9.1504,4.2011c0,0 0.29455,0.1204 0.21285,0.31605c-0.03655,0.086 -0.11395,0.10965 -0.1892,0.10965c-0.09675,0 -0.18705,-0.0387 -0.18705,-0.0387l-9.4385,-3.5002c-0.0215,0.043 -0.04515,0.08385 -0.0688,0.12685c1.19755,1.0922 2.3521,1.00835 3.7668,2.6703c1.6555,1.9479 2.5155,1.56735 3.4529,2.26395c0.9374,0.6923 1.0191,1.51575 0.7697,1.60175c-0.0129,0.0043 -0.0258,0.00645 -0.0387,0.00645c-0.20855,0 -0.20855,-0.6751 -0.92665,-1.03845c-0.75895,-0.38485 -2.4037,-0.4085 -3.74745,-2.01455c-1.10295,-1.32225 -2.5929,-1.49855 -3.97105,-2.4596c-0.02365,0.0301 -0.04945,0.05805 -0.0731,0.08815l6.8456,7.3831c0,0 0.22575,0.2279 0.0774,0.37625c-0.03655,0.0387 -0.0774,0.0516 -0.1204,0.0516c-0.12685,0 -0.25585,-0.129 -0.25585,-0.129l-7.38095,-6.8456c-0.03655,0.0301 -0.0731,0.06235 -0.1118,0.09245c0.688,1.46415 1.78665,1.8318 2.4553,3.9044c0.7826,2.4295 1.7243,2.4123 2.322,3.41205c0.59125,0.98685 0.3612,1.77375 0.10105,1.77375c-0.00215,0 -0.0043,0 -0.00645,0c-0.2623,-0.01505 0.0645,-0.6751 -0.49235,-1.32225c-0.55685,-0.64715 -2.064,-1.30075 -2.68965,-3.29595c-0.5117,-1.63615 -1.8189,-2.37145 -2.7262,-3.78615c-0.03655,0.01935 -0.07095,0.0387 -0.1075,0.05805l3.5002,9.43635c0,0 0.12255,0.29455 -0.0731,0.37625c-0.02365,0.01075 -0.04515,0.01505 -0.06665,0.01505c-0.1548,0 -0.2494,-0.2279 -0.2494,-0.2279l-4.19895,-9.1504c-0.04515,0.01505 -0.09245,0.0301 -0.13975,0.043c0.07525,1.6125 0.94815,2.37145 0.774,4.54295c-0.2021,2.54775 0.6708,2.88745 0.8428,4.042c0.1591,1.0621 -0.2709,1.69205 -0.52675,1.69205c-0.0215,0 -0.04085,-0.0043 -0.0602,-0.0129c-0.2365,-0.11825 0.31605,-0.602 0.04945,-1.41255c-0.2623,-0.81055 -1.4061,-1.9866 -1.2212,-4.07425c0.1505,-1.7071 -0.77615,-2.88745 -1.0707,-4.54295c-0.0387,0.0043 -0.0774,0.0086 -0.11825,0.0129l-0.3784,10.062c0,0 0,0.31605 -0.21285,0.31605c-0.21285,0 -0.21285,-0.31605 -0.21285,-0.31605l-0.3784,-10.062c-0.04945,-0.0043 -0.09675,-0.01075 -0.1462,-0.01505c-0.5504,1.5265 -0.03225,2.5628 -1.02555,4.5021c-1.16315,2.27255 -0.48375,2.924 -0.7697,4.0549c-0.23435,0.946 -0.78045,1.376 -1.0578,1.376c-0.05375,0 -0.09675,-0.0172 -0.12685,-0.04945c-0.1763,-0.19995 0.52245,-0.4343 0.5848,-1.2857c0.06235,-0.8514 -0.54395,-2.3779 0.43,-4.23335c0.79765,-1.52005 0.3913,-2.96485 0.75035,-4.6053c-0.04085,-0.0129 -0.07955,-0.02365 -0.11825,-0.03655l-4.2011,9.1504c0,0 -0.0946,0.2279 -0.2494,0.2279c-0.01935,0 -0.043,-0.0043 -0.06665,-0.01505c-0.19565,-0.0817 -0.0731,-0.37625 -0.0731,-0.37625l3.5002,-9.4385c-0.043,-0.0215 -0.08385,-0.04515 -0.12685,-0.0688c-1.0922,1.19755 -1.00835,2.3521 -2.6703,3.7668c-1.9479,1.6555 -1.56735,2.5155 -2.26395,3.4529c-0.4816,0.65145 -1.0277,0.8901 -1.34375,0.8901c-0.1376,0 -0.2322,-0.04515 -0.258,-0.1204c-0.086,-0.24725 0.64715,-0.2021 1.032,-0.9632c0.38485,-0.75895 0.4085,-2.4037 2.01455,-3.74745c1.32225,-1.10295 1.49855,-2.5929 2.4596,-3.97105c-0.0301,-0.02365 -0.05805,-0.04945 -0.08815,-0.0731l-7.3831,6.8456c0,0 -0.129,0.129 -0.25585,0.129c-0.04085,0 -0.08385,-0.01505 -0.1204,-0.0516c-0.14835,-0.1505 0.0774,-0.37625 0.0774,-0.37625l6.8456,-7.38095c-0.0301,-0.03655 -0.06235,-0.0731 -0.09245,-0.1118c-1.46415,0.688 -1.8318,1.78665 -3.9044,2.4553c-2.4295,0.7826 -2.4123,1.7243 -3.41205,2.322c-0.4601,0.2752 -0.87505,0.37195 -1.1868,0.37195c-0.36765,0 -0.5934,-0.13545 -0.58695,-0.27735c0.01505,-0.2623 0.6751,0.0645 1.32225,-0.49235c0.64715,-0.55685 1.30075,-2.064 3.29595,-2.68965c1.63615,-0.5117 2.37145,-1.8189 3.78615,-2.7262c-0.01935,-0.03655 -0.0387,-0.07095 -0.05805,-0.1075l-9.43635,3.5002c0,0 -0.09245,0.0387 -0.18705,0.0387c-0.07525,0 -0.15265,-0.02365 -0.1892,-0.10965c-0.0817,-0.1935 0.21285,-0.31605 0.21285,-0.31605l9.1504,-4.19895c-0.01505,-0.04515 -0.0301,-0.0903 -0.043,-0.13545c-1.46845,0.06665 -2.22955,0.7955 -3.9904,0.7955c-0.17415,0 -0.35905,-0.0086 -0.5547,-0.02365c-0.26875,-0.0215 -0.5117,-0.03225 -0.7353,-0.03225c-1.89415,0 -2.2747,0.7138 -3.3067,0.8686c-0.15695,0.02365 -0.30745,0.0344 -0.44505,0.0344c-0.87075,0 -1.33085,-0.4171 -1.2341,-0.6235c0.0215,-0.043 0.0559,-0.0602 0.10105,-0.0602c0.15265,0 0.4429,0.1849 0.8557,0.1849c0.1376,0 0.2881,-0.0215 0.45365,-0.07525c0.75035,-0.24295 1.8146,-1.2427 3.62275,-1.2427c0.1462,0 0.2967,0.00645 0.4515,0.01935c0.129,0.01075 0.2537,0.0172 0.37625,0.0172c1.5136,0 2.63805,-0.8127 4.16885,-1.08575c-0.0043,-0.0387 -0.0086,-0.0774 -0.0129,-0.11825l-10.062,-0.3784c0,0 -0.31605,0 -0.31605,-0.21285c0,-0.21285 0.31605,-0.21285 0.31605,-0.21285l10.062,-0.3784c0.0043,-0.04945 0.01075,-0.0989 0.01505,-0.1462c-1.5265,-0.5504 -2.5628,-0.03225 -4.5021,-1.02555c-1.1997,-0.6149 -1.9479,-0.71595 -2.5542,-0.71595c-0.2924,0 -0.55255,0.02365 -0.81485,0.02365c-0.22145,0 -0.4429,-0.01505 -0.68585,-0.0774c-1.1309,-0.28165 -1.5265,-1.0105 -1.32655,-1.1868c0.0215,-0.01935 0.04515,-0.02795 0.0688,-0.02795c0.19135,0 0.4601,0.55685 1.2169,0.61275c0.0473,0.0043 0.0946,0.00645 0.1462,0.00645c0.4515,0 1.0621,-0.1333 1.7888,-0.1333c0.6751,0 1.45125,0.11395 2.2962,0.55685c1.52005,0.79765 2.96485,0.3913 4.6053,0.75035c0.01075,-0.04085 0.02365,-0.07955 0.03655,-0.11825l-9.1504,-4.2011c0,0 -0.29455,-0.1204 -0.21285,-0.31605c0.03655,-0.086 0.11395,-0.10965 0.1892,-0.10965c0.09675,0 0.18705,0.0387 0.18705,0.0387l9.4385,3.5002c0.0215,-0.043 0.04515,-0.08385 0.0688,-0.12685c-1.19755,-1.0922 -2.3521,-1.00835 -3.7668,-2.6703c-1.6555,-1.9479 -2.5155,-1.56735 -3.4529,-2.26395c-0.9374,-0.6923 -1.0191,-1.51575 -0.7697,-1.60175c0.0129,-0.0043 0.0258,-0.00645 0.0387,-0.00645c0.20855,0 0.20855,0.6751 0.92665,1.03845c0.75895,0.38485 2.4037,0.4085 3.74745,2.01455c1.10295,1.32225 2.5929,1.49855 3.97105,2.4596c0.02365,-0.0301 0.04945,-0.05805 0.0731,-0.08815l-6.8456,-7.3831c0,0 -0.2279,-0.2279 -0.0774,-0.37625c0.03655,-0.03655 0.07955,-0.0516 0.1204,-0.0516c0.12685,0.00215 0.25585,0.129 0.25585,0.129l7.38095,6.8456c0.03655,-0.0301 0.0731,-0.06235 0.1118,-0.09245c-0.688,-1.46415 -1.78665,-1.8318 -2.4553,-3.9044c-0.7826,-2.4295 -1.7243,-2.4123 -2.322,-3.41205c-0.59125,-0.99115 -0.3655,-1.77375 -0.10105,-1.77375c0.00215,0 0.0043,0 0.00645,0c0.2623,0.01505 -0.0645,0.6751 0.49235,1.32225c0.55685,0.64715 2.064,1.30075 2.68965,3.29595c0.5117,1.63615 1.8189,2.37145 2.7262,3.78615c0.03655,-0.01935 0.07095,-0.0387 0.1075,-0.05805l-3.5002,-9.43635c0,0 -0.12255,-0.29455 0.0731,-0.37625c0.02365,-0.01075 0.04515,-0.01505 0.06665,-0.01505c0.1548,0 0.2494,0.2279 0.2494,0.2279l4.19895,9.1504c0.04515,-0.01505 0.0903,-0.0301 0.13545,-0.043c-0.07525,-1.6125 -0.94815,-2.37145 -0.774,-4.5451c0.20855,-2.54775 -0.66435,-2.88745 -0.83635,-4.042c-0.1591,-1.0664 0.27305,-1.69205 0.5289,-1.69205c0.0215,0 0.043,0.0043 0.0602,0.0129c0.2365,0.11825 -0.31605,0.602 -0.04945,1.41255c0.2623,0.81055 1.4061,1.9866 1.2212,4.07425c-0.1505,1.7071 0.77615,2.88745 1.0707,4.54295c0.0387,-0.0043 0.0774,-0.0086 0.11825,-0.0129l0.3784,-10.062c0,0 0,-0.31605 0.21285,-0.31605z" fill="#c29653"></path></g></g><path d="M0,172v-172h172v172z" fill="none" stroke="none" stroke-linejoin="miter"></path><g stroke="none" stroke-linejoin="miter"><path d="M1.075,61.275h169.85v49.45h-169.85z" fill="#f2faff"></path><path d="M169.85,62.35v47.3h-167.7v-47.3h167.7M172,60.2h-172v51.6h172v-51.6z" fill="#a3b7cc"></path><path d="M1.075,22.575h169.85v40.85h-169.85z" fill="#8bb7f0"></path><path d="M169.85,23.65v38.7h-167.7v-38.7h167.7M172,21.5h-172v43h172v-43z" fill="#4e7ab5"></path><g><path d="M1.075,108.575h169.85v40.85h-169.85z" fill="#8bb7f0"></path><path d="M169.85,109.65v38.7h-167.7v-38.7h167.7M172,107.5h-172v43h172v-43z" fill="#4e7ab5"></path></g><g><path d="M84.8519,91.69105l-1.13305,-0.35905l-0.9073,-0.4988l-0.86,-0.67295l-0.7267,-0.8729l-0.56115,-1.00405l-0.34185,-1.09865l-0.11825,-1.13305l0.1032,-1.17175l0.34615,-1.1395l0.5461,-0.9933l0.6837,-0.83205l0.90945,-0.75895l0.97395,-0.4988l1.0148,-0.3311l1.16745,-0.12255l1.0578,0.0903l1.15455,0.3096l0.99975,0.53535l0.89225,0.7009l0.7697,0.92235l0.54825,1.0406l0.31175,1.0535l0.1161,1.0965l-0.0989,1.118l-0.3182,1.1051l-0.4859,0.92235l-0.6923,0.903l-0.93095,0.79765l-1.0449,0.5547l-1.15455,0.35905l-1.2298,0.06665z" fill="#f5c276"></path><path d="M90.67625,70.99085v0v0M85.99355,81.2872l0.51815,0.04515l0.42355,0.04515l0.4816,0.1419l0.3999,0.12685l0.4343,0.2279l0.37625,0.2064l0.3956,0.32035l0.30315,0.2537l0.3354,0.39775l0.2924,0.3612l0.2193,0.4214l0.1806,0.34615l0.1548,0.49235l0.12685,0.43215l0.043,0.49235l0.0344,0.38485l-0.04515,0.5246l-0.04515,0.4257l-0.1419,0.4816l-0.1247,0.39345l-0.23005,0.4429l-0.2107,0.38485l-0.31605,0.38915l-0.2537,0.30315l-0.3956,0.33325l-0.3698,0.29455l-0.41495,0.21715l-0.35045,0.18275l-0.49235,0.1548l-0.43215,0.12685l-0.48805,0.043l-0.38485,0.0344l-0.5246,-0.04515l-0.42355,-0.04515l-0.4816,-0.1419l-0.3956,-0.12685l-0.4386,-0.2279l-0.37625,-0.2064l-0.3956,-0.32035l-0.30745,-0.258l-0.32895,-0.3913l-0.29885,-0.3698l-0.215,-0.41495l-0.1763,-0.33755l-0.1591,-0.4988l-0.129,-0.44075l-0.04085,-0.4773l-0.0344,-0.39775l0.04515,-0.51815l0.04515,-0.4257l0.1419,-0.4816l0.12685,-0.3999l0.2279,-0.4343l0.2107,-0.3827l0.3139,-0.38485l0.2666,-0.31605l0.387,-0.32465l0.3698,-0.29885l0.4171,-0.21715l0.34615,-0.1806l0.49235,-0.1548l0.44075,-0.129l0.4773,-0.04085l0.39345,-0.0387M81.32375,101.00915v0v0M86,68.79785c-0.21285,0 -0.21285,0.31605 -0.21285,0.31605l-0.3784,10.062c-0.04085,0.0043 -0.07955,0.0086 -0.11825,0.0129c-0.29455,-1.6555 -1.2212,-2.83585 -1.0707,-4.54295c0.1849,-2.08765 -0.9589,-3.2637 -1.2212,-4.07425c-0.2666,-0.81055 0.28595,-1.2943 0.04945,-1.41255c-0.0172,-0.0086 -0.0387,-0.0129 -0.0602,-0.0129c-0.25585,0 -0.688,0.62565 -0.5289,1.69205c0.172,1.15455 1.0449,1.49425 0.83635,4.042c-0.17415,2.17365 0.69875,2.9326 0.774,4.5451c-0.04515,0.0129 -0.0903,0.02795 -0.13545,0.043l-4.19895,-9.1504c0,0 -0.0946,-0.2279 -0.2494,-0.2279c-0.0215,0 -0.043,0.0043 -0.06665,0.01505c-0.19565,0.0817 -0.0731,0.37625 -0.0731,0.37625l3.5002,9.43635c-0.03655,0.01935 -0.07095,0.0387 -0.1075,0.05805c-0.9073,-1.4147 -2.2145,-2.15 -2.7262,-3.78615c-0.62565,-1.9952 -2.1328,-2.6488 -2.68965,-3.29595c-0.55685,-0.64715 -0.23005,-1.3072 -0.49235,-1.32225c-0.00215,0 -0.0043,0 -0.00645,0c-0.26445,0 -0.4902,0.7826 0.10105,1.77375c0.5977,0.99975 1.5394,0.98255 2.322,3.41205c0.66865,2.0726 1.7673,2.44025 2.4553,3.9044c-0.0387,0.0301 -0.07525,0.06235 -0.1118,0.09245l-7.38095,-6.8456c0,0 -0.129,-0.12685 -0.25585,-0.129c-0.04085,0 -0.08385,0.01505 -0.1204,0.0516c-0.1505,0.14835 0.0774,0.37625 0.0774,0.37625l6.8456,7.3831c-0.02365,0.0301 -0.04945,0.05805 -0.0731,0.08815c-1.37815,-0.96105 -2.8681,-1.13735 -3.97105,-2.4596c-1.34375,-1.60605 -2.9885,-1.6297 -3.74745,-2.01455c-0.7181,-0.36335 -0.7181,-1.03845 -0.92665,-1.03845c-0.0129,0 -0.0258,0.00215 -0.0387,0.00645c-0.2494,0.086 -0.1677,0.90945 0.7697,1.60175c0.9374,0.6966 1.7974,0.31605 3.4529,2.26395c1.4147,1.66195 2.56925,1.5781 3.7668,2.6703c-0.02365,0.043 -0.0473,0.08385 -0.0688,0.12685l-9.4385,-3.5002c0,0 -0.0903,-0.0387 -0.18705,-0.0387c-0.07525,0 -0.15265,0.02365 -0.1892,0.10965c-0.0817,0.19565 0.21285,0.31605 0.21285,0.31605l9.1504,4.2011c-0.0129,0.0387 -0.0258,0.0774 -0.03655,0.11825c-1.64045,-0.35905 -3.08525,0.0473 -4.6053,-0.75035c-0.84495,-0.4429 -1.6211,-0.55685 -2.2962,-0.55685c-0.7267,0 -1.3373,0.1333 -1.7888,0.1333c-0.0516,0 -0.0989,-0.00215 -0.1462,-0.00645c-0.7568,-0.0559 -1.02555,-0.61275 -1.2169,-0.61275c-0.02365,0 -0.0473,0.0086 -0.0688,0.02795c-0.19995,0.1763 0.19565,0.90515 1.32655,1.1868c0.24295,0.06235 0.4644,0.0774 0.68585,0.0774c0.2623,0 0.52245,-0.02365 0.81485,-0.02365c0.6063,0 1.3545,0.10105 2.5542,0.71595c1.9393,0.9933 2.9756,0.47515 4.5021,1.02555c-0.0043,0.0473 -0.01075,0.09675 -0.01505,0.1462l-10.062,0.3784c0,0 -0.31605,0 -0.31605,0.21285c0,0.21285 0.31605,0.21285 0.31605,0.21285l10.062,0.3784c0.0043,0.04085 0.0086,0.07955 0.0129,0.11825c-1.5308,0.27305 -2.65525,1.08575 -4.16885,1.08575c-0.12255,0 -0.24725,-0.00645 -0.37625,-0.0172c-0.1548,-0.0129 -0.3053,-0.01935 -0.4515,-0.01935c-1.80815,0 -2.8724,0.99975 -3.62275,1.2427c-0.16555,0.05375 -0.31605,0.07525 -0.45365,0.07525c-0.4128,0 -0.70305,-0.1849 -0.8557,-0.1849c-0.04515,0 -0.07955,0.0172 -0.10105,0.0602c-0.09675,0.2064 0.36335,0.6235 1.2341,0.6235c0.1376,0 0.2881,-0.01075 0.44505,-0.0344c1.032,-0.1548 1.41255,-0.8686 3.3067,-0.8686c0.2236,0 0.46655,0.01075 0.7353,0.03225c0.19565,0.01505 0.38055,0.02365 0.5547,0.02365c1.76085,0 2.52195,-0.72885 3.9904,-0.7955c0.0129,0.04515 0.02795,0.0903 0.043,0.13545l-9.1504,4.19895c0,0 -0.29455,0.12255 -0.21285,0.31605c0.03655,0.086 0.11395,0.10965 0.1892,0.10965c0.0946,0 0.18705,-0.0387 0.18705,-0.0387l9.43635,-3.5002c0.01935,0.03655 0.0387,0.07095 0.05805,0.1075c-1.4147,0.9073 -2.15,2.2145 -3.78615,2.7262c-1.9952,0.62565 -2.6488,2.1328 -3.29595,2.68965c-0.64715,0.55685 -1.3072,0.23005 -1.32225,0.49235c-0.00645,0.1419 0.2193,0.27735 0.58695,0.27735c0.31175,0 0.7267,-0.09675 1.1868,-0.37195c0.99975,-0.5977 0.98255,-1.5394 3.41205,-2.322c2.0726,-0.66865 2.44025,-1.7673 3.9044,-2.4553c0.0301,0.0387 0.06235,0.07525 0.09245,0.1118l-6.8456,7.38095c0,0 -0.22575,0.22575 -0.0774,0.37625c0.03655,0.03655 0.07955,0.0516 0.1204,0.0516c0.12685,0 0.25585,-0.129 0.25585,-0.129l7.3831,-6.8456c0.0301,0.02365 0.05805,0.04945 0.08815,0.0731c-0.96105,1.37815 -1.13735,2.8681 -2.4596,3.97105c-1.60605,1.34375 -1.6297,2.9885 -2.01455,3.74745c-0.38485,0.7611 -1.118,0.71595 -1.032,0.9632c0.0258,0.07525 0.1204,0.1204 0.258,0.1204c0.31605,0 0.86215,-0.23865 1.34375,-0.8901c0.6966,-0.9374 0.31605,-1.7974 2.26395,-3.4529c1.66195,-1.4147 1.5781,-2.56925 2.6703,-3.7668c0.043,0.02365 0.08385,0.0473 0.12685,0.0688l-3.5002,9.4385c0,0 -0.12255,0.29455 0.0731,0.37625c0.02365,0.01075 0.0473,0.01505 0.06665,0.01505c0.1548,0 0.2494,-0.2279 0.2494,-0.2279l4.2011,-9.1504c0.0387,0.0129 0.0774,0.02365 0.11825,0.03655c-0.35905,1.64045 0.0473,3.08525 -0.75035,4.6053c-0.97395,1.85545 -0.36765,3.38195 -0.43,4.23335c-0.06235,0.8514 -0.7611,1.08575 -0.5848,1.2857c0.0301,0.03225 0.0731,0.04945 0.12685,0.04945c0.27735,0 0.82345,-0.43 1.0578,-1.376c0.28595,-1.1309 -0.39345,-1.78235 0.7697,-4.0549c0.9933,-1.9393 0.47515,-2.9756 1.02555,-4.5021c0.04945,0.0043 0.09675,0.01075 0.1462,0.01505l0.3784,10.062c0,0 0,0.31605 0.21285,0.31605c0.21285,0 0.21285,-0.31605 0.21285,-0.31605l0.3784,-10.062c0.04085,-0.0043 0.07955,-0.0086 0.11825,-0.0129c0.29455,1.6555 1.2212,2.83585 1.0707,4.54295c-0.1849,2.08765 0.9589,3.2637 1.2212,4.07425c0.2666,0.81055 -0.28595,1.2943 -0.04945,1.41255c0.01935,0.0086 0.0387,0.0129 0.0602,0.0129c0.25585,0 0.68585,-0.62995 0.52675,-1.69205c-0.172,-1.15455 -1.0449,-1.49425 -0.8428,-4.042c0.17415,-2.1715 -0.69875,-2.93045 -0.774,-4.54295c0.0473,-0.0129 0.0946,-0.02795 0.13975,-0.043l4.19895,9.1504c0,0 0.0946,0.2279 0.2494,0.2279c0.0215,0 0.043,-0.0043 0.06665,-0.01505c0.19565,-0.0817 0.0731,-0.37625 0.0731,-0.37625l-3.5002,-9.43635c0.03655,-0.01935 0.07095,-0.0387 0.1075,-0.05805c0.9073,1.4147 2.2145,2.15 2.7262,3.78615c0.62565,1.9952 2.1328,2.6488 2.68965,3.29595c0.55685,0.64715 0.23005,1.3072 0.49235,1.32225c0.00215,0 0.0043,0 0.00645,0c0.26015,0 0.4902,-0.7869 -0.10105,-1.77375c-0.5977,-0.99975 -1.5394,-0.98255 -2.322,-3.41205c-0.66865,-2.0726 -1.7673,-2.44025 -2.4553,-3.9044c0.0387,-0.0301 0.07525,-0.06235 0.1118,-0.09245l7.38095,6.8456c0,0 0.129,0.129 0.25585,0.129c0.043,0 0.08385,-0.0129 0.1204,-0.0516c0.14835,-0.14835 -0.0774,-0.37625 -0.0774,-0.37625l-6.8456,-7.3831c0.02365,-0.0301 0.04945,-0.05805 0.0731,-0.08815c1.37815,0.96105 2.8681,1.13735 3.97105,2.4596c1.34375,1.60605 2.9885,1.6297 3.74745,2.01455c0.7181,0.36335 0.7181,1.03845 0.92665,1.03845c0.0129,0 0.0258,-0.00215 0.0387,-0.00645c0.2494,-0.086 0.1677,-0.90945 -0.7697,-1.60175c-0.9374,-0.6966 -1.7974,-0.31605 -3.4529,-2.26395c-1.4147,-1.66195 -2.56925,-1.5781 -3.7668,-2.6703c0.02365,-0.043 0.0473,-0.08385 0.0688,-0.12685l9.4385,3.5002c0,0 0.0903,0.0387 0.18705,0.0387c0.07525,0 0.15265,-0.02365 0.1892,-0.10965c0.0817,-0.19565 -0.21285,-0.31605 -0.21285,-0.31605l-9.1504,-4.2011c0.0129,-0.0387 0.02365,-0.0774 0.03655,-0.11825c1.64045,0.35905 3.08525,-0.0473 4.6053,0.75035c0.84495,0.4429 1.6211,0.55685 2.2962,0.55685c0.7267,0 1.3373,-0.1333 1.79095,-0.1333c0.0516,0 0.0989,0.00215 0.1462,0.00645c0.7568,0.0559 1.02555,0.61275 1.2169,0.61275c0.02365,0 0.0473,-0.0086 0.0688,-0.02795c0.19995,-0.1763 -0.19565,-0.90515 -1.32655,-1.1868c-0.24295,-0.06235 -0.4644,-0.0774 -0.68585,-0.0774c-0.2623,0 -0.52245,0.02365 -0.81485,0.02365c-0.6063,0 -1.3545,-0.10105 -2.5542,-0.71595c-1.9393,-0.9933 -2.9756,-0.47515 -4.5021,-1.02555c0.0043,-0.04945 0.01075,-0.09675 0.01505,-0.1462l10.062,-0.3784c0,0 0.31605,0 0.31605,-0.21285c0,-0.21285 -0.31605,-0.21285 -0.31605,-0.21285l-10.062,-0.3784c-0.0043,-0.0387 -0.0086,-0.07955 -0.0129,-0.11825c1.5308,-0.27305 2.65525,-1.08575 4.16885,-1.08575c0.12255,0 0.24725,0.00645 0.37625,0.0172c0.1548,0.0129 0.3053,0.01935 0.44935,0.01935c1.8103,0 2.8724,-0.99975 3.62275,-1.2427c0.16555,-0.05375 0.31605,-0.07525 0.45365,-0.07525c0.41495,0 0.70305,0.1849 0.8557,0.1849c0.04515,0 0.07955,-0.0172 0.10105,-0.0602c0.09675,-0.2064 -0.36335,-0.6235 -1.2341,-0.6235c-0.1376,0 -0.2881,0.01075 -0.4472,0.0344c-1.032,0.1548 -1.41255,0.8686 -3.3067,0.8686c-0.2236,0 -0.46655,-0.01075 -0.7353,-0.03225c-0.19565,-0.01505 -0.38055,-0.02365 -0.5547,-0.02365c-1.76085,0 -2.52195,0.72885 -3.9904,0.7955c-0.0129,-0.04515 -0.02795,-0.0903 -0.043,-0.13545l9.1504,-4.19895c0,0 0.29455,-0.12255 0.21285,-0.31605c-0.03655,-0.086 -0.11395,-0.10965 -0.1892,-0.10965c-0.0946,0 -0.18705,0.0387 -0.18705,0.0387l-9.43635,3.5002c-0.01935,-0.03655 -0.0387,-0.07095 -0.05805,-0.1075c1.4147,-0.9073 2.15,-2.2145 3.78615,-2.7262c1.9952,-0.62565 2.6488,-2.1371 3.29595,-2.68965c0.64715,-0.55685 1.3072,-0.23005 1.32225,-0.49235c0.00645,-0.1419 -0.2193,-0.27735 -0.58695,-0.27735c-0.31175,0 -0.7267,0.09675 -1.1868,0.37195c-0.99975,0.5977 -0.98255,1.5394 -3.41205,2.322c-2.0726,0.66865 -2.44025,1.7673 -3.9044,2.4553c-0.0301,-0.0387 -0.06235,-0.07525 -0.09245,-0.1118l6.8456,-7.38095c0,0 0.22575,-0.22575 0.0774,-0.37625c-0.03655,-0.03655 -0.07955,-0.0516 -0.1204,-0.0516c-0.12685,0 -0.25585,0.129 -0.25585,0.129l-7.3831,6.8456c-0.0301,-0.02365 -0.05805,-0.04945 -0.08815,-0.0731c0.96105,-1.37815 1.13735,-2.8681 2.4596,-3.97105c1.60605,-1.34375 1.6297,-2.98635 2.01455,-3.74745c0.38485,-0.7611 1.118,-0.71595 1.032,-0.9632c-0.0258,-0.07525 -0.1204,-0.1204 -0.258,-0.1204c-0.31605,0 -0.86215,0.2365 -1.34375,0.8901c-0.6966,0.9374 -0.31605,1.7974 -2.26395,3.4529c-1.66195,1.4147 -1.5781,2.56925 -2.6703,3.7668c-0.043,-0.02365 -0.08385,-0.0473 -0.12685,-0.0688l3.5002,-9.4385c0,0 0.12255,-0.29455 -0.0731,-0.37625c-0.02365,-0.01075 -0.0473,-0.01505 -0.06665,-0.01505c-0.1548,0 -0.2494,0.2279 -0.2494,0.2279l-4.2011,9.1504c-0.0387,-0.0129 -0.0774,-0.0258 -0.11825,-0.03655c0.35905,-1.64045 -0.0473,-3.08525 0.75035,-4.6053c0.97395,-1.85545 0.36765,-3.38195 0.43,-4.23335c0.06235,-0.8514 0.7611,-1.08575 0.5848,-1.2857c-0.0301,-0.03225 -0.0731,-0.04945 -0.12685,-0.04945c-0.27735,0 -0.82345,0.43 -1.0578,1.376c-0.28595,1.1309 0.39345,1.78235 -0.7697,4.0549c-0.9933,1.9393 -0.47515,2.9756 -1.02555,4.5021c-0.04945,-0.0043 -0.09675,-0.01075 -0.1462,-0.01505l-0.3784,-10.062c0.00645,0 0.00645,-0.3182 -0.2064,-0.3182z" fill="#c29653"></path></g></g><path d="" fill="none" stroke="none" stroke-linejoin="miter"></path><path d="" fill="none" stroke="none" stroke-linejoin="miter"></path><path d="" fill="none" stroke="none" stroke-linejoin="miter"></path></g></g></svg>
      <% else %>
      <% end %>
            <% if @tour.country.upcase == "CHINE" %>
      <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
      width="48" height="48"
      viewBox="0 0 48 48"
      style=" fill:#000000;"><path fill="#FF3D00" d="M2 9L2 24 2 39 46 39 46 24 46 9z"></path><path fill="#FFEB3B" d="M10 13.49L11.181 17.24 15 17.24 11.91 19.367 13.09 23 10 20.755 6.91 23 8.09 19.367 5 17.24 8.819 17.24zM17.474 10.976L17.828 12.101 18.974 12.101 18.047 12.737 18.401 13.828 17.474 13.154 16.547 13.828 16.901 12.737 15.974 12.101 17.12 12.101zM17.5 24L17.854 25.125 19 25.125 18.073 25.762 18.427 26.853 17.5 26.179 16.573 26.853 16.927 25.762 16 25.125 17.146 25.125zM21.5 15L21.854 16.125 23 16.125 22.073 16.762 22.427 17.853 21.5 17.179 20.573 17.853 20.927 16.762 20 16.125 21.146 16.125zM21.5 20L21.854 21.125 23 21.125 22.073 21.762 22.427 22.853 21.5 22.179 20.573 22.853 20.927 21.762 20 21.125 21.146 21.125z"></path></svg>
      <% else %>
      <% end %>
              <% if @tour.country.upcase == "ITALIE" %>
      <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
      width="48" height="48"
      viewBox="0 0 172 172"
      style=" fill:#000000;"><g transform=""><g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><path d="M0,172v-172h172v172z" fill="none"></path><path d="M86,141.9c-30.87272,0 -55.9,-25.02728 -55.9,-55.9v0c0,-30.87272 25.02728,-55.9 55.9,-55.9v0c30.87272,0 55.9,25.02728 55.9,55.9v0c0,30.87272 -25.02728,55.9 -55.9,55.9z" fill="#cccccc"></path><g><path d="M55.32667,28.4875h61.34667v115.025h-61.34667z" fill="#eceff1"></path><path d="M116.67333,28.4875h53.67833v115.025h-53.67833z" fill="#ff3d00"></path><path d="M1.64833,28.4875h53.67833v115.025h-53.67833z" fill="#689f38"></path></g><path d="" fill="none"></path></g></g></svg>
      <% else %>
      <% end %>
      <% if @tour.country.upcase == "BRESIL" %>
    <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
      width="48" height="48"
      viewBox="0 0 172 172"
      style=" fill:#000000;"><g transform="translate(0.516,0.516) scale(0.994,0.994)"><g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="none" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><g stroke="#cccccc" stroke-linejoin="round"><path d="M7.16667,32.25h157.66667v107.5h-157.66667z" fill="#4caf50"></path><path d="M150.5,86l-64.5,43l-64.5,-43l64.5,-43z" fill="#ffeb3b"></path><path d="M111.08333,86c0,13.85314 -11.23019,25.08333 -25.08333,25.08333c-13.85314,0 -25.08333,-11.23019 -25.08333,-25.08333c0,-13.85314 11.23019,-25.08333 25.08333,-25.08333c13.85314,0 25.08333,11.23019 25.08333,25.08333z" fill="#3f51b5"></path><path d="M111.08333,85.9785c0,0.00717 0,0.0215 0,0.0215c0,2.76633 -0.46583,5.42517 -1.29358,7.91558c-18.46492,-14.09683 -40.42,-13.08633 -48.49683,-12.083c0.44433,-2.65883 1.29358,-5.17792 2.50833,-7.48558c10.22325,-0.85283 29.57325,-0.3655 47.28208,11.6315z" fill="#ffffff"></path></g><path d="M0,172v-172h172v172z" fill="none" stroke="none" stroke-linejoin="miter"></path><g stroke="none" stroke-linejoin="miter"><path d="M7.16667,32.25h157.66667v107.5h-157.66667z" fill="#4caf50"></path><path d="M150.5,86l-64.5,43l-64.5,-43l64.5,-43z" fill="#ffeb3b"></path><path d="M86,60.91667c-13.85314,0 -25.08333,11.23019 -25.08333,25.08333c0,13.85314 11.23019,25.08333 25.08333,25.08333c13.85314,0 25.08333,-11.23019 25.08333,-25.08333c0,-13.85314 -11.23019,-25.08333 -25.08333,-25.08333z" fill="#3f51b5"></path><path d="M63.80125,74.347c-1.21475,2.30767 -2.064,4.82675 -2.50833,7.48558c8.07683,-1.00333 30.03192,-2.01383 48.49683,12.083c0.82775,-2.49042 1.29358,-5.14925 1.29358,-7.91558c0,0 0,-0.01433 0,-0.0215c-17.70883,-11.997 -37.05883,-12.48433 -47.28208,-11.6315z" fill="#ffffff"></path></g><path d="" fill="none" stroke="none" stroke-linejoin="miter"></path></g></g></svg><% else %>
      <% end %>
      <% if @tour.country.upcase == "RUSSIE" %>
      <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
          width="48" height="48"
          viewBox="0 0 172 172"
          style=" fill:#000000;"><g transform="translate(0.516,0.516) scale(0.994,0.994)"><g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="none" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><g stroke="#cccccc" stroke-linejoin="round"><path d="M7.16667,103.91667h157.66667v35.83333h-157.66667z" fill="#ff3d00"></path><path d="M7.16667,68.08333h157.66667v35.83333h-157.66667z" fill="#3f51b5"></path><path d="M7.16667,32.25h157.66667v35.83333h-157.66667z" fill="#e0e1e2"></path></g><path d="M0,172v-172h172v172z" fill="none" stroke="none" stroke-linejoin="miter"></path><g stroke="none" stroke-linejoin="miter"><path d="M7.16667,103.91667h157.66667v35.83333h-157.66667z" fill="#ff3d00"></path><path d="M7.16667,68.08333h157.66667v35.83333h-157.66667z" fill="#3f51b5"></path><path d="M7.16667,32.25h157.66667v35.83333h-157.66667z" fill="#e0e1e2"></path></g><path d="" fill="none" stroke="none" stroke-linejoin="miter"></path></g></g></svg>
      <% else %>
      <% end %>
       <% if @tour.country.upcase == "AUSTRALIE" %>
       <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
        width="48" height="48"
        viewBox="0 0 172 172"
        style=" fill:#000000;"><g transform="translate(0.516,0.516) scale(0.994,0.994)"><g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="none" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><g stroke="#cccccc" stroke-linejoin="round"><path d="M7.16667,35.83333h157.66667v100.33333h-157.66667z" fill="#283593"></path><path d="M46.58333,100.33333l2.12492,6.77967l6.493,-2.52267l-3.84133,5.934l5.97342,3.63708l-6.91942,0.61633l0.95317,7.05558l-4.78375,-5.16358l-4.78375,5.16358l0.95317,-7.05558l-6.91942,-0.61633l5.97342,-3.6335l-3.84133,-5.934l6.493,2.52267zM123.625,111.08333l1.06425,3.38983l3.2465,-1.26133l-1.92067,2.967l2.98492,1.81675l-3.45792,0.30817l0.47658,3.52958l-2.39367,-2.58l-2.39367,2.58l0.47658,-3.52958l-3.45792,-0.30817l2.98492,-1.81675l-1.92067,-2.967l3.2465,1.26133zM105.58292,78.77958l1.06425,3.38983l3.2465,-1.26133l-1.92067,2.967l2.98492,1.81675l-3.45792,0.30817l0.47658,3.52958l-2.39367,-2.58l-2.39367,2.58l0.48017,-3.52958l-3.45792,-0.30817l2.98492,-1.81675l-1.92067,-2.967l3.2465,1.26133zM123.625,57.33333l1.06425,3.38983l3.2465,-1.26133l-1.92067,2.967l2.98492,1.81675l-3.45792,0.30817l0.47658,3.52958l-2.39367,-2.58l-2.39367,2.58l0.47658,-3.52958l-3.45792,-0.30817l2.98492,-1.81675l-1.92067,-2.967l3.2465,1.26133zM145.125,75.25l1.06425,3.38983l3.2465,-1.26133l-1.92067,2.967l2.98492,1.81675l-3.45792,0.30817l0.47658,3.52958l-2.39367,-2.58l-2.39367,2.58l0.47658,-3.52958l-3.45792,-0.30817l2.98492,-1.81675l-1.92067,-2.967l3.2465,1.26133zM132.58333,89.58333l0.98542,2.537l2.59792,0.20067l-1.99233,1.76658l0.6235,2.66242l-2.2145,-1.44408l-2.2145,1.44408l0.6235,-2.66242l-1.99233,-1.76658l2.59792,-0.20067zM7.16667,35.83333h7.5035l24.7465,15.44544v-15.44544h14.33333v16.46121l26.36975,-16.46121h5.88025v8.02667l-15.83666,9.89h15.83666v14.33333h-13.72181l13.72181,8.56775v9.34892h-3.75892l-28.49108,-17.79287v17.79287h-14.33333v-16.76957l-26.85708,16.76957h-5.39292v-8.32767l15.35766,-9.589h-15.35766v-14.33333h17.46093l-17.46093,-10.90408z" fill="#ffffff"></path><path d="M31.8845,68.08333h6.24933l-28.7025,17.91667h-2.26467v-2.49042zM27.7565,53.75l-20.58983,-12.84983v-3.90583l26.832,16.75567zM69.15833,68.08333l16.84167,10.50992v3.89867l-23.08383,-14.40858zM86,35.83333v2.18225l-25.198,15.73442h-6.24933l28.69533,-17.91667zM50.16308,57.33333h35.83692v7.16667h-35.83692v21.5h-7.16667v-21.5h-35.82975v-7.16667h35.82975v-21.5h7.16667z" fill="#e53935"></path></g><path d="M0,172v-172h172v172z" fill="none" stroke="none" stroke-linejoin="miter"></path><g stroke="none" stroke-linejoin="miter"><path d="M7.16667,35.83333h157.66667v100.33333h-157.66667z" fill="#283593"></path><path d="M46.58333,100.33333l2.12492,6.77967l6.493,-2.52267l-3.84133,5.934l5.97342,3.63708l-6.91942,0.61633l0.95317,7.05558l-4.78375,-5.16358l-4.78375,5.16358l0.95317,-7.05558l-6.91942,-0.61633l5.97342,-3.6335l-3.84133,-5.934l6.493,2.52267zM123.625,111.08333l1.06425,3.38983l3.2465,-1.26133l-1.92067,2.967l2.98492,1.81675l-3.45792,0.30817l0.47658,3.52958l-2.39367,-2.58l-2.39367,2.58l0.47658,-3.52958l-3.45792,-0.30817l2.98492,-1.81675l-1.92067,-2.967l3.2465,1.26133zM105.58292,78.77958l1.06425,3.38983l3.2465,-1.26133l-1.92067,2.967l2.98492,1.81675l-3.45792,0.30817l0.47658,3.52958l-2.39367,-2.58l-2.39367,2.58l0.48017,-3.52958l-3.45792,-0.30817l2.98492,-1.81675l-1.92067,-2.967l3.2465,1.26133zM123.625,57.33333l1.06425,3.38983l3.2465,-1.26133l-1.92067,2.967l2.98492,1.81675l-3.45792,0.30817l0.47658,3.52958l-2.39367,-2.58l-2.39367,2.58l0.47658,-3.52958l-3.45792,-0.30817l2.98492,-1.81675l-1.92067,-2.967l3.2465,1.26133zM145.125,75.25l1.06425,3.38983l3.2465,-1.26133l-1.92067,2.967l2.98492,1.81675l-3.45792,0.30817l0.47658,3.52958l-2.39367,-2.58l-2.39367,2.58l0.47658,-3.52958l-3.45792,-0.30817l2.98492,-1.81675l-1.92067,-2.967l3.2465,1.26133zM132.58333,89.58333l0.98542,2.537l2.59792,0.20067l-1.99233,1.76658l0.6235,2.66242l-2.2145,-1.44408l-2.2145,1.44408l0.6235,-2.66242l-1.99233,-1.76658l2.59792,-0.20067zM7.16667,42.84592l33.89475,21.16675l5.09908,-8.52475l-31.49033,-19.65458h-7.5035zM86,35.83333h-5.88025l-31.47958,19.651l5.0955,8.52475l32.26433,-20.14908zM53.73567,56.50558l-5.0955,8.51042l33.60092,20.984h3.75892v-9.34892zM7.16667,77.67233v8.32767h5.39292l33.60092,-20.98042l-5.09908,-8.51042zM86,53.75h-78.83333v14.33333h78.83333zM39.41667,35.83333v50.16667h14.33333v-50.16667z" fill="#ffffff"></path><path d="M31.8845,68.08333h6.24933l-28.7025,17.91667h-2.26467v-2.49042zM33.99867,53.75l-26.832,-16.75567v3.90583l20.58983,12.84983zM62.91617,68.08333l23.08383,14.40858v-3.89867l-16.84167,-10.50992zM83.248,35.83333l-28.69533,17.91667h6.24933l25.198,-15.73442v-2.18225zM50.16308,35.83333h-7.16667v21.5h-35.82975v7.16667h35.82975v21.5h7.16667v-21.5h35.83692v-7.16667h-35.83692z" fill="#e53935"></path></g><path d="" fill="none" stroke="none" stroke-linejoin="miter"></path></g></g></svg>
           <% else %>
      <% end %>

      <p><%= @tour.city %></p>

  <div id="triangle"></div>
  </div>
  <div class="tab-container">
    <ul class="list-inline tabs">
      <li>
        <p class="tab"><i class="far fa-calendar-alt"></i></p>
        <p class="infos"><%= l(@tour.date, format: :short) %></p>
      </li>
      <li>
        <p class="tab"><i class="far fa-clock"></i></p>
        <p class="infos"><%= @tour.time.strftime("%H:%M") %></p>
      </li>
      <li>
        <p class="tab"><i class="fas fa-hourglass-half"></i></p>
        <p class="infos"><%= @tour.duration %> min</p>
      </li>
      <li>
        <p class="tab"><i class="fas fa-language"></i></p>
        <p class="infos"><%= @tour.language %></p>
      </li>
      <li>
        <p class="tab"><i class="fas fa-users"></i></p>
        <p class="infos"><%= @tour.capacity %>prs</p>
      </li>
    </ul>
    <div class="body-container" data-aos="fade-up" data-aos-delay="100">
      <div class="presentation">
        <h5>Prsentation</h5>
        <h3>Description dtaille par votre guide <strong> <%= @tour.user.first_name %> </strong></h3>
        <p><%= @tour.description %></p>
        <div class="price">
          <p><strong><%= @tour.price %> </strong></p>
          <p id="category"><strong><%= @tour.category %></strong></p>
        </div>
      </div>
      <div class="slider">
        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
            <% @tour.images.each do |image| %>
              <% if image == @tour.images.first %>
                <div class="carousel-item active">
              <% else %>
                <div class="carousel-item">
              <% end %>
                <%= cl_image_tag image.key, class: "d-block w-100" %>
              </div>
            <% end %>
          </div>
          <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="bouton">
    <%= link_to "Rserver la visite", tour_bookings_path(@tour), method: :post, class: "btn btn-flat" %>
  </div>
  <div id="triangle0"></div>
  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url(<%= cl_image_path @tour.images.last.key %>);">
  <div id="triangle2"></div>
  </div>
  <div class="tab-container">
    <div class="calendrier">

      <h5>Calendrier</h5>
      <h3>La vraie aventure commence <strong>maintenant</strong>.</h3>
      <p>Consulter les prochains lives de <%= @tour.user.first_name %>.</p>
    </div>
  </div>

    <div class="container-calendrier">
      <ul class="card-wrap">
        <% Tour.where(user_id: @tour.user_id).each do |tour|%>
        <%= link_to tour_path(tour) do %>
          <li class="card" data-aos="fade-up">
            <%= cl_image_tag tour.images[0].key %>
            <div id="triangle3"></div>
            <div class="card-info">
              <h5><%= tour.name %></h5>
              <p><%= tour.date.strftime('%x') %></p>
              <p><%= tour.time.strftime("%H:%M") %></p>
              <p><%= tour.duration %> min</p>
            </div>
          </li>
        <% end %>
        <% end %>
      </ul>
  </div>
</div>

<!-- TESTIMONIALS
================================================== -->
<section class="pt-10 pt-md-12">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-md-10 col-lg-8 text-center">
        <!-- Heading -->
        <h5>Tmoignages</h5>
        <h3>Nos voyageurs <strong>en parlent</strong></h3>
        <!-- Text -->
        <p>Ne nous croyez pas sur parole. Nos voyageurs sont ceux qui en parlent le mieux.</p>
      </div>
    </div> <!-- / .row -->
    <div class="row" data-aos="fade-up" data-aos-delay="100">
      <div class="col-12">

        <!-- Card -->
        <div class="card-testimonial card-row shadow mb-5">
          <!-- card card-row shadow-light-lg mb-6 -->
          <div class="row no-gutters">
            <div class="col-12 col-md-6">

              <!-- Slider -->
              <div class="card-img-slider" data-flickity='{"fade": true, "imagesLoaded": true, "pageDots": false, "prevNextButtons": false, "asNavFor": "#blogSlider", "draggable": false}'>
                <a class="card-img-left bg-cover" style="background-image: url(<%= asset_path('testimonial.jpg') %>);" href="#!">

                  <!-- Image (placeholder) -->
                  <%= link_to root_path, class: "img-fluid d-md-none invisible" do %>
                    <%= image_tag "photo-1.jpg" %>
                  <% end %>

                </a>
                <a class="card-img-left bg-cover" style="background-image: url(<%= asset_path('testimonial.jpg') %>);">

                  <!-- Image (placeholder) -->
                  <%= link_to root_path, class: "img-fluid d-md-none invisible" do %>
                    <%= image_tag "photo-27.jpg" %>
                  <% end %>

                </a>
              </div>

            </div>
            <div class="col-12 col-md-6 position-md-static">

              <!-- Slider -->
              <div class="position-md-static" data-flickity='{"wrapAround": true, "pageDots": false, "adaptiveHeight": true}' id="testimonialSlider">
                <div class="w-100">

                  <!-- Body -->
                  <div class="card-body">
                    <blockquote class="blockquote text-center mb-0">

                      <!-- Brand -->
                      <div class="row justify-content-center mb-5 mb-md-7">
                        <div class="col-6 col-sm-4 col-md-7 col-lg-5">

                          <!-- Logo -->
                          <div class="img-fluid svg-shim" style="color: #FF5A5F;">
                            <!-- @@include("../app/assets/images/Voyages.jpg") -->
                            <%= link_to root_path, class: "navbar-brand" do %>
                            <%= image_tag "avatar-1", class: "rounded-circle" %>
                            <% end %>
                          </div>

                        </div>
                      </div> <!-- / .row -->

                      <!-- Text -->
                      <p class="mb-5 mb-md-7">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus similique perferendis numquam voluptatem fugit sequi tenetur ad inventore ducimus aut commodi.
                      </p>

                      <!-- Footer -->
                      <footer class="blockquote-footer">
                        <span class="h6 text-uppercase">Fabiola</span>
                      </footer>

                    </blockquote>
                  </div>

                </div>
                <div class="w-100">

                  <!-- Body -->
                  <div class="card-body">
                    <blockquote class="blockquote text-center mb-0">

                      <!-- Brand -->
                      <div class="row justify-content-center mb-5 mb-md-7">
                        <div class="col-6 col-sm-4 col-md-7 col-lg-5">

                          <!-- Logo -->
                          <div class="img-fluid svg-shim" style="color: #3F5D87;">
                            <%= link_to root_path, class: "navbar-brand" do %>
                            <%= image_tag "avatar-3", class: "rounded-circle" %>
                            <% end %>
                          </div>

                        </div>
                      </div> <!-- / .row -->

                      <!-- Text -->
                      <p class="mb-5 mb-md-7">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus similique perferendis numquam voluptatem fugit sequi tenetur ad inventore ducimus aut commodi.
                      </p>

                      <!-- Footer -->
                      <footer class="blockquote-footer">
                        <span class="h6 text-uppercase">Edouard</span>
                      </footer>

                    </blockquote>
                  </div>

                </div>
              </div>

            </div>
          </div> <!-- / .row -->
        </div>

      </div>
    </div> <!-- / .row -->
  </div> <!-- / .container -->
</section>

<!-- JavaScript -->
<!-- <script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.js"></script> -->
<!-- <link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.css"> -->
<script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>
<script src="https://unpkg.com/flickity-fade@1/flickity-fade.js"></script>
<link rel="stylesheet" href="https://unpkg.com/flickity-fade@1/flickity-fade.css">
<link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">
<script src="https://unpkg.com/jarallax@1/dist/jarallax.min.js"></script>
