<section class="section">
      <div class="container justify-content-center">
        <div class="row align-items-center justify-content-center no-gutters min-vh-100">
          <div class="col-12 col-md-5 col-lg-4 py-8 py-md-11">
            <div class="connecter">
              <h2>Créer un tour</h2>
            </div>

            <%= simple_form_for [:guide, @tour]  do |f| %>

              <div class="form-inputs">

                <%= f.input :images, as: :file %>
                <%= f.input :images, as: :file %>
                <%= f.input :images, as: :file %>

                <%= f.input :name, label: "Nom", required: true %>
                <%= f.input :city, label: "Ville", required: true %>
                <%= f.input :country, label: "Pays", required: true %>
                <%= f.input :capacity,  label: "Nombre de visiteurs", required: true %>
                <%= f.input :date, label: "Date" %>
                <%= f.input :time, label: "Heure" %>
                <%= f.input :duration, label: "Durée" %>
                <%= f.input :description, label: "Description",  required: true %>
                <%= f.input :language, label: "Langue", required: true %>
                <%= f.input :price, label: "Prix", equired: true %>
                <%= f.input :category,  label: "Catégorie", required: true %>

              </div>

              <div class="form-actions">
                <%= f.button :submit, "Go" %>
              </div>
            <% end %>

         </div>
        </div>
      </div>
    </section>
