
  <div class="container pt-4 pt-md-11">
    <div class="form pt-8 pt-md-11">
      <h3>Créeer un nouveau tour</h3>
      <%= form_for (@tour) do |f| %>

      <%= f.label :name, class: "mt-3" %>
      <%= f.text_field :name, class: "form-control" %>

      <%= f.label :city, class: "mt-3" %>
      <%= f.text_field :city, class: "form-control" %>

      <%= f.label :country, class: "mt-3" %>
      <%= f.text_field :country, class: "form-control" %>

      <%= f.label :capacity, class: "mt-3" %>
      <%= f.number_field :capacity, class: "form-control" %>

      <%= f.label :date, class: "mt-3" %>
      <%= f.date_field :date, class: "form-control" %>

      <%= f.label :time, class: "mt-3"  %>
      <%= f.time_field :time, class: "form-control" %>

      <%= f.label :duration, class: "mt-3" %>
      <%= f.number_field :duration, class: "form-control" %>

      <%= f.label :description, class: "mt-3" %>
      <%= f.text_field :description, class: "form-control" %>

      <%= f.label :language, class: "mt-3" %>
      <%= f.text_field :language, class: "form-control" %>

      <%= f.label :price, class: "mt-3" %>
      <%= f.number_field :price, class: "form-control" %>

      <%= f.label :category, class: "mt-3" %>
      <%= f.text_field :category, class: "form-control" %>
      <%= f.submit class: "btn btn-flat m-2" %>
    <% end %>
  </div>
</div>
