<!DOCTYPE html>
<html>
  <head>
    <title>Travelive - Voyage depuis ton sofa</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
    <%= favicon_link_tag asset_path('icon.ico') %>

    <meta name="og:title" content="Travelive"/>
    <meta name="og:type" content="voyage"/>
    <meta name="og:url" content="http://www.https://www.travelive.fr/"/>
    <meta name="og:image" content="https://res.cloudinary.com/dlwpvvdub/image/upload/v1593775119/capture_d___e__cran_2020-07-03_a___13.10.45_blnc43.png"/>
    <meta name="og:description" content="Une plate-forme pour connecter les gens avec des guides locaux du monde entier pour vous permettre de visiter en direct les plus beaux endroits du monde."/>
  </head>

  <body>
    <% if current_page?(root_path) %>
      <%= render 'shared/navbarhome' %>
      <%= render 'shared/flashes' %>
      <%= yield %>
    <% else %>
      <%= render 'shared/navbar' %>
      <%= render 'shared/flashes' %>
      <%= yield %>
      <%#= render 'shared/footer' %>
    <% end %>
  </body>
</html>
